{% extends 'base.html.twig' %}

{% block content %}
    <h1>Sélection officielle <span>d'Elaomojis 2021</span></h1>

    <h2 class="h2">Pour approuver</h2>
    <ul class="elaomojis">
        <li class="elaomojis__item" class="aria-hidden="true>
            <img src="https://www.fillmurray.com/32/32" alt="">
            :approving-hermine:
        </li>
    </ul>
{% endblock %}
