{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-home">
        <h1>
            elao
            <span>développe</span>
            <span>du lien</span>
        </h1>
        <div class="banner">
            <div class="banner__content">
                <p>Elao est un atelier de co-conception d'applications web et mobile sur mesure</p>
            </div>
            <div class="banner__image">
                <figure>
                    <img src="https://as2.ftcdn.net/jpg/02/94/55/87/500_F_294558791_Hb7lQE8IHJiAC6nxiIAcAr7gVRkl4fzC.jpg" alt="salarié de tribu">
                    <figcaption>
                        <span>Tribü</span>
                        Solution de déchets en entreprise
                    </figcaption>
                </figure>
                <a href="#" class="btn">
                    <span>Découvrir le projet</span>
                </a>
            </div>
            <ul class="banner__list">
                <li>
                    <span class="number">15</span>
                    ans d'expérience
                    <small>(et d'expérimentations)</small>
                </li>
                <li>
                    <span class="number">15</span>
                    expert·e·s passionné·e·s
                    <a href="#">
                        La tribu elao
                        <i class="icon icon--arrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <span class="number">200+</span>
                    projets
                    <a href="#">
                        Nos études de cas
                        <i class="icon icon--arrow" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
