{% extends 'base.html.twig' %}

{% block content %}
<div class="instagram-post--list">
    <div class="instagram-post brand">
        <div class="content">
            <h1 class="carret">Hello</h1>
        </div>
    </div>
    <div class="instagram-post brand-reverse">
        <div class="content">
            <h1 class="carret" contenteditable="true">Aloha</h1>
        </div>
    </div>
    <div class="instagram-post light-red">
        <div class="content">
            <p contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu consectetur magna</p>
        </div>
    </div>
    <div class="instagram-post pale">
        <div class="content">
            <p contenteditable="true">Consectetur adipiscing elit. Aenean eu consectetur magna</p>
            <p class="signature">
                <span contenteditable="true">Anne Laure</span>
                <span contenteditable="true">Développeuse Back</span>
            </p>
        </div>
    </div>
    <div class="instagram-post purple">
        <div class="content">
            <span class="number" contenteditable="true">11%</span>
            <p contenteditable="true">Hola</p>
        </div>
    </div>
    <div class="instagram-post light-blue">
        <div class="content">
            <span class="number" contenteditable="true">11%</span>
            <p contenteditable="true">Aenean eu consectetur magna.</p>
        </div>
    </div>
    <div class="instagram-post dark-blue">
        <div class="content">
            <p class="carret" contenteditable="true">Lorem ipsum dolor sit amet</p>
        </div>
    </div>
</div>
{% endblock %}
