{% extends 'base.html.twig' %}

{% block content %}
<div class="instagram-post--list">
    <div class="instagram-post brand">
        <div class="content">
            <h1 class="carret">Hello</h1>
        </div>
    </div>
    <div class="instagram-post brand-reverse">
        <div class="content">
            <h1 class="carret">Aloha</h1>
        </div>
    </div>
    <div class="instagram-post light-red">
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu consectetur magna</p>
        </div>
    </div>
    <div class="instagram-post pale">
        <div class="content">
            <p>Consectetur adipiscing elit. Aenean eu consectetur magna</p>
            <p class="signature">
                <span>Anne Laure</span>
                <span>Développeuse Back</span>
            </p>
        </div>
    </div>
    <div class="instagram-post purple">
        <div class="content">
            <span class="number">11%</span>
            <p>Hola</p>
        </div>
    </div>
    <div class="instagram-post light-blue">
        <div class="content">
            <span class="number">11%</span>
            <p>Aenean eu consectetur magna.</p>
        </div>
    </div>
    <div class="instagram-post dark-blue">
        <div class="content">
            <p class="carret">Lorem ipsum dolor sit amet</p>
        </div>
    </div>
</div>
{% endblock %}
