{% extends 'base.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li class="breadcrumb__item">
          <a href="{{ path('homepage') }}">Accueil</a>
        </li>
        <li class="breadcrumb__item">
          Notre méthodologie
        </li>
    </ul>

    <div class="banner-methodology">
        <div class="banner-methodology__title">
            <h1>Découvrez <span>notre méthodologie</span></h1>
        </div>
        <div class="banner-methodology__content">
            <div class="info">
                <p>Elao est avant tout une équipe de concepteurs / développeurs seniors. Un projet est généralement composé d’une équipe technique dédiée de 2 ou 3 personnes sur 3 à 6 mois.</p>
                <p>Notre particularité : <strong>pas de chef de projet.</strong> Ce sont les développeurs qui seront vos contacts privilégiés et qui auront à cœur d’être réactifs et proactifs concernant vos besoins. Les facilitateurs de l’équipe sont là pour garantir une fluidité dans les échanges mais ne doivent jamais être un goulot d’étranglement dans le projet.</p>
            </div>
            <img src="{{ asset('build/images/methodology/typical-team.svg') }}" alt="Schéma d'une équipe type elao : développeur backend, développeur frontend, intégratrice, facilitateur">
        </div>
    </div>

    <div class="page-methodology">
        <h2 class="h2--dash">Les différentes étapes du projet</h2>
        <h3 class="h2--ordered">
            <span>I.</span> La phase d'avant projet
        </h3>
        <p>C’est l’une des phases clés de succès de votre projet !</p>
        <p>C’est là que l’équipe fait connaissance avec votre métier, votre vision et se les approprie pour proposer les solutions fonctionnelles et techniques optimales, selon vos besoins et notre expérience de plus de 200 projets.</p>

        <div class="banner-planning">
            <img src="https://www.fillmurray.com/1070/460" alt="">
        </div>

        <ul class="planning-steps">
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--bulb" aria-hidden="true"></i>
                    Ateliers de compréhension
                </h4>
                <p>Des ateliers de compréhension du besoin en présence de toute l’équipe technique, aboutissant à la création du backlog (liste des fonctionnalités envisagées sur le projet) et à une première phase de priorisation fonctionnelle (découpage en itérations)</p>
            </li>
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--note" aria-hidden="true"></i>
                    Rédactions des spécifications
                </h4>
                <p>La rédaction des spécifications, soit par le client en toute autonomie selon une trame fournie par Elao, soit par Elao, soumis à validation du client</p>
            </li>
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--connections" aria-hidden="true"></i>
                    Outils
                </h4>
                <p>La mise en place des outils de pilotage/suivi</p>
            </li>
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--pen-ruler" aria-hidden="true"></i>
                    Ateliers UX/UI
                </h4>
                <p>Des atelier(s) de suivi UX/UI permettant la synchronisation de toutes les parties prenantes (fonctionnel, design, développement) avec l’objectif d’avoir des maquettes cohérentes pour toute la chaîne</p>
            </li>
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--chart" aria-hidden="true"></i>
                    Socle technique
                </h4>
                <p>La mise en place du socle technique</p>
            </li>
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--code" aria-hidden="true"></i>
                    Estimation
                </h4>
                <p>L’estimation chiffrée la plus fine possible de chaque fonctionnalité</p>
            </li>
        </ul>

        <h3 class="h2--ordered">
            <span>II.</span> La phase de build
        </h3>
        <p>Lors de la phase de build, l’équipe technique Elao allouée au client est mobilisée à 80 % de son temps sur le projet, sans autre projet en parallèle. Les 20 % restants permettent à l’équipe d’intervenir ponctuellement sur d’autres projets en phase de run, de contribuer à des projets Open Source, de s’investir dans l’écosystème web, de faire de la veille pour se tenir toujours à jour techniquement.</p>
        <p>L’équipe étant à bord depuis le tout début du projet, elle a alors une compréhension fine du projet et peut avancer de façon efficace.</p>

        <ul class="build-steps">
            <li class="build-steps__item integration">
                <i class="icon icon--mockup" aria-hidden="true"></i>
                L’intégration responsive HTML/CSS
            </li>
            <li class="build-steps__item">
                <i class="icon icon--cog" aria-hidden="true"></i>
                Le développement
            </li>
            <li class="build-steps__item">
                <i class="icon icon--person-cog" aria-hidden="true"></i>
                La recette fonctionnelle sur des serveurs de recette (staging)
            </li>
        </ul>

    </div>
{% endblock %}
