{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% set interval = date('now').diff(date(site.birthdate)) %}
{% block meta_title "L'humain avant tout : donner du sens, s'engager, prendre plaisir | Elao" %}
{% block meta_description "Nous sommes un atelier de co-conception d’applications web et mobiles sur-mesure, animé depuis plus de %d ans par des expert·e·s passionné·e·s. | Elao"|format(interval.y) %}

{% block content %}
    <div class="container">
        {{ macros.breadcrumb([
            {path: path('homepage'), label: 'Accueil'},
            {path: '#', label: "Nos valeurs"},
        ]) }}

        <div class="banner-values">
            <div class="banner-values__title">
                <h1 data-aos="fade-right">Découvrez <span>nos valeurs</span></h1>
            </div>
            <div class="banner-values__content">
                <div class="image" data-aos="fade-left"></div>
                <span class="highlight" data-aos="zoom-in">
                    <p>Elao, l'expertise numérique citoyenne.</p>
                    <i class="icon icon--brackets-left" aria-hidden="true"></i>
                </span>
            </div>
        </div>

        <div class="page-values">
            <h2 class="h2--dash">Notre ADN</h2>
            <div class="offset-content">
                <p>Chez Elao, l'aspect <strong>humain</strong> est au coeur de notre ADN et de notre vision. Nous voulons avant tout que les membres de l'équipe prennent plaisir dans leur travail quotidien, puissent s'épanouir à travers les challenges techniques et/ou fonctionnels tout en contribuant à un projet qui ait de la résonance. </p>
                <p>Notre manifeste repose sur <strong>8 grands principes.</strong></p>
            </div>
            <ul class="values">
                <li class="value">
                    <h3>Donner du sens.</h3>
                    <p>S'engager sur des projets avec des clients qui partagent des valeurs communes.</p>
                </li>
                <li class="value">
                    <h3>S'engager.</h3>
                    <p>Mettre à disposition toute notre énergie au service des besoins de nos clients.</p>
                </li>
                <li class="value">
                    <h3>Prendre plaisir.</h3>
                    <p>S'épanouir dans nos tâches quotidiennes tout en gardant un équilibre vie pro-vie perso.</p>
                </li>
                <li class="value">
                    <h3>Rester humble.</h3>
                    <p>Placer l'écosystème qui nous entoure (collaborateurs, clients) au centre de nos échanges pour nous nourrir les uns les autres.</p>
                </li>
                <li class="value">
                    <h3>S'ouvrir.</h3>
                    <p>Partager nos compétences et apporter en retour à l'écosystème.</p>
                </li>
                <li class="value">
                    <h3>Se diversifier.</h3>
                    <p>La diversité est riche, que cela soit dans notre tribu (1/3 des personnes sont en reconversion), auprès de nos clients (start-ups, TPE, PME, grands groupes) ou via nos projets.</p>
                </li>
                <li class="value">
                    <h3>S'ancrer.</h3>
                    <p>Nous nous engageons dans l'écosystème lyonnais et ses milieux associatifs.</p>
                </li>
                <li class="value">
                    <h3>L'accessibilité.</h3>
                    <p>Nous croyons à l'égalité des chances, c'est pourquoi l'accessibilité est au centre de nos préoccupations.</p>
                </li>
            </ul>
        </div>
        <h2 class="h2--dash">L'open source</h2>
        <div class="illustrated-section">
            <div class="illustrated-section__content">
                <p>Nous faisons notre métier avec une vision très claire : nous participons avec énergie à un <strong>écosystème de création et de partage de valeur</strong>, pour et avec nos <strong>clients</strong>, nos <strong>collaborateurs</strong> et notre <strong>écosystème web</strong>. </p>
                <p>Nous estimons que l'<strong><a href="{{ path('glossary_term', {term: 'opensource'}) }}">open source</a></strong> nous accompagne positivement tout au long de nos projets et nous aide grandement dans nos tâches quotidiennes. C'est pourquoi, nous avons la volonté de participer activement, personnellement et en équipe, à ce fonctionnement en partageant le code de nos projets internes.</p>
            </div>
            <div class="illustrated-section__image" data-aos="fade-right">
                <img src="{{ asset('build/images/pages/services/developer.jpg') }}" alt="développeur">
                <i class="icon icon--brackets-right" aria-hidden="true"></i>
            </div>
        </div>
        <div class="bricks">
            {% include 'partials/brick-development.html.twig' %}
        </div>
    </div>
{% endblock %}
