@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot');
  src:  url('../../fonts/icomoon.eot') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf') format('truetype'),
        url('../../fonts/icomoon.woff') format('woff'),
        url('../../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  arrow: '\e904',
  bracket-left: '\e91a',
  bracket-right: '\e91b',
  brackets-left: '\e90c',
  brackets-right: '\e915',
  bill: '\e92c',
  bulb: '\e907',
  chart: '\e922',
  check: '\e918',
  chevron-left: '\e912',
  chevron-right: '\e913',
  chevrons-left: '\e90b',
  chevrons-right: '\e914',
  code: '\e91f',
  cog: '\e908',
  connections: '\e923',
  contact: '\e903',
  close: '\e90f',
  danger: '\e927',
  document: '\e92b',
  diploma: '\e92a',
  enlarge: '\e919',
  github: '\e901',
  hamburger: '\e90e',
  info: '\e926',
  instagram: '\e902',
  linkedin: '\e910',
  location: '\e906',
  megaphone: '\e92d',
  mockup: '\e924',
  note: '\e921',
  pen: '\e905',
  pen-ruler: '\e920',
  person-cog: '\e925',
  phone: '\e90a',
  quote: '\e911',
  semicolon: '\e917',
  square-bracket-left: '\e91c',
  square-bracket-right: '\e91d',
  square-brackets-left: '\e90d',
  square-brackets-right: '\e916',
  success: '\e928',
  time: '\e929',
  twitter: '\e900',
  website: '\e91e',
  write: '\e909'
);

@each $icon-name, $icon-character in $icons {
  .icon--#{$icon-name}:before {
    content: $icon-character;
  }
}
