@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot');
  src:  url('../../fonts/icomoon.eot') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf') format('truetype'),
        url('../../fonts/icomoon.woff') format('woff'),
        url('../../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  arrow: '\e904',
  bracket-left: '\e91a',
  bracket-right: '\e91b',
  brackets-left: '\e90c',
  brackets-right: '\e915',
  bulb: '\e907',
  check: '\e918',
  chevron-left: '\e912',
  chevron-right: '\e913',
  chevrons-left: '\e90b',
  chevrons-right: '\e914',
  cog: '\e908',
  contact: '\e903',
  close: '\e90f',
  enlarge: '\e919',
  github: '\e901',
  hamburger: '\e90e',
  instagram: '\e902',
  location: '\e906',
  pen: '\e905',
  phone: '\e90a',
  quote: '\e911',
  semicolon: '\e917',
  square-bracket-left: '\e91c',
  square-bracket-right: '\e91d',
  square-brackets-left: '\e90d',
  square-brackets-right: '\e916',
  twitter: '\e900',
  website: '\e910',
  write: '\e909'
);

@each $icon-name, $icon-character in $icons {
  .icon--#{$icon-name}:before {
    content: $icon-character;
  }
}
