html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'faktum regular';
  font-size: 20px;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b,
strong {
  font-family: 'faktum semibold';
  font-weight: unset;
}

::selection {
  color: $color-secondary;
  background-color: $color-brand;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1280px;
}

.container--narrow {
  padding: 0 110px;
}

.brick-conception {
  @extend .brick;
  @extend .brick--large;

  min-height: 190px;
  color: $color-light;
  background: $color-dark;

  .title {
    margin: 40px 0;
    font-family: 'faktum bold';
    font-size: 46px;
    color: #fff;
  }
}

@media (max-width: $screen-md) {
  .container--narrow {
    padding: 0;
  }
}

@media (max-width: $screen-sm) {
  .brick-conception {
    .title {
      margin: 20px 0;
      max-width: 500px;
      font-size: 20px;
      line-height: 26px;
    }
  }
}

@media (max-width: $screen-xs) {
  body {
    font-size: 18px;
  }
}
