body {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  font-family: 'faktum regular';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: $tertiary;
  background-color: $secondary;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1280px;
}

@media (max-width: $screen-sm) {
  body {
    padding-top: 60px;
  }
}
