.screen-reader {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

// Hides the SVG included for clip-paths
.clip-paths {
  svg {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
  }
}
