// Colors
$color-brand: #ff4345;
$color-primary: #7f1A55;
$color-secondary: #fee3e4;
$color-tertiary: #f4756d;
$color-dark: #0d3a5a;
$color-light: #2ecccb;
$color-text: #390725;

// Breakpoints
$screen-lg: 1280px; // desktop
$screen-md: 1220px; // laptop
$screen-sm: 995px;  // tablet
$screen-xs: 760px;  // phone

// Code highlighting
$code-font: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
$code-background: #3C3C3C;
$monokai-red: #ff6188;
$monokai-green: #a9dc76;
$monokai-yellow: #ffd866;
$monokai-orange: #fc9867;
$monokai-purple: #ab9df2;;
$monokai-blue: #78dce8;
$monokai-grey: #ccc;
$monokai-mutted: #999;
$monokai-error: lightcoral;
