// Colors
$color-brand: #ff4345;
$color-primary: #7f1A55;
$color-secondary: #fee3e4;
$color-tertiary: #f4756d;
$color-dark: #0d3a5a;
$color-light: #2ecccb;
$color-text: #390725;
$color-info: #1e7695;

// Breakpoints
$screen-lg: 1280px; // desktop
$screen-md: 1220px; // laptop
$screen-sm: 995px;  // tablet
$screen-xs: 760px;  // phone

// Code theme
$code-font: 'antikor medium', monospace;
$code-background: #fee3e4;
$code-primary: #7f1A55;
$code-tertiary: #f4756d;
$code-info: #1e7695;
