// Colors
$color-brand: #ff4345;
$color-primary: #7f1A55;
$color-secondary: #fee3e4;
$color-tertiary: #f4756d;
$color-dark: #0d3a5a;
$color-light: #2ecccb;
$color-text: #390725;
$color-info: #1e7695;

// Breakpoints
$screen-lg: 1280px; // desktop
$screen-md: 1220px; // laptop
$screen-sm: 995px;  // tablet
$screen-xs: 760px;  // phone

// Code highlighting
$code-font: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$code-background: #333;
$code-red: #ff6188;
$code-green: #a9dc76;
$code-yellow: #ffd866;
$code-orange: #fc9867;
$code-purple: #ab9df2;
$code-blue: #78dce8;
$code-white: #eee;
$code-grey: #ccc;
$code-mutted: #888;
