.screen-reader {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

// Prevents hiding elements for animations if js is not enabled:
.no-js [data-aos] {
  opacity: 1;
  transform: none;
  pointer-events: unset;
}
