twig:
    strict_variables: true
    default_path: '%kernel.project_dir%/templates'
    globals:
        forceNoIndex: '%env(bool:APP_FORCE_NO_INDEX)%'
        site:
            title: "Elao_"
            description: "Elao est un atelier de co-conception d'applications web et mobile sur mesure."
            birthdate: 04/01/2005
            contact:
                email: contact@elao.com
                phone: 04 82 53 37 19
                publicationDirector: Xavier GORSE
                address:
                    street_address: 34 rue Jean Broquin
                    address_locality: 69006 Lyon
                    google_maps: https://g.page/Elao_fr?share

            social:
                github: https://github.com/elao
                twitter: https://twitter.com/elao
                instagram: https://www.instagram.com/hello_elao_/

            trackers:
                matomo: '%env(MATOMO_ID)%'

            menu:
                - { path: 'services', label: 'Services' }
                - { path: 'methodology', label: 'Méthodologie' }
                - { path: 'case_studies', label: 'Études de cas' }
                - { path: 'values', label: 'Valeurs' }
                - { path: 'team', label: 'La team' }
                - { path: 'blog', label: 'Blog' }
                - { path: 'contact', label: 'Contact', icon: 'contact', mobileClass: 'nav-mobile__item--large' }
            footer:
                -
                    - { path: 'services', label: 'Services' }
                    - { path: 'methodology', label: 'Méthodologie' }
                    - { path: 'case_studies', label: 'Études de cas' }
                -
                    - { path: 'values', label: 'Valeurs' }
                    - { path: 'team', label: 'La tribu' }
                    - { path: 'blog', label: 'Blog' }
                    - { path: 'blog_rss', label: 'RSS' , attributes: { data-no-swup: true } }
                -
                    - { path: 'contact', label: 'Contact' }

            home:
                highlights:
                    caseStudy: tribu

when@test:
    twig:
        strict_variables: true
