<section class="amabla-brief-incentive">
    <div class="amabla-logo">{% include '@images/amabla/amabla-logo.svg' %}</div>
    <p>Échangez avec notre assistant basé sur les IA génératives, qui vous permettra de concevoir votre <strong>brief projet</strong> !</p>
     <a href="{{ path('ia-brief') }}" class="btn btn--secondary btn--animated">
        <span>
            Allons-y
            {% include 'partials/svg-arrow.html.twig' %}
        </span>
    </a>
</section>
