<a href="{{ path('contact') }}" class="brick-send-message" data-aos="zoom-in-down">
    <p>Il n’y a pas d’offre pour votre profil ?</p>
    <h3 class="title">N’hésitez pas à nous envoyer une candidature spontanée :</h3>
    <span class="animation">
        {% include 'partials/svg-letter.html.twig' %}
        <span>jobs@elao.com</span>
    </span>
</a>
