<div class="brick-development" data-aos="zoom-in-down">
    <p>Un projet ?</p>
    <h3 class="title">Vous avez une application web ou mobile à développer ?</h3>
    <a class="contact-link" href="{{ path('contact') }}">
        <img src="{{ asset('build/images/card.svg') }}" alt="">
        <span>Nous envoyer un message</span>
    </a>
</div>
