<a href="{{ path('contact') }}" class="brick-send-message" data-aos="zoom-in-down">
    <p>Un projet ?</p>
    <h3 class="title">Vous avez des besoins en hébergement et infrastructure ?</h3>
    <span class="animation">
        {% include 'partials/svg-letter.html.twig' %}
        <span>Échangeons !</span>
    </span>
</a>
