<a href="{{ path('contact') }}" class="brick-send-message" data-aos="zoom-in-down">
    <p>Un projet ?</p>
    <h3 class="title">Vous avez une application web ou mobile à développer ?</h3>
    <span class="animation">
        {% include 'partials/svg-letter.html.twig' %}
        <span>Nous envoyer un message</span>
    </span>
</a>
