<div class="brick-contact" data-aos="zoom-in-up" data-aos-delay="150">
    <h3 class="title">Nous contacter</h3>
    <p>
        <i class="icon icon--phone"></i>
        <a href="tel://{{ site.contact.phone }}">{{ site.contact.phone }}</a>
    </p>
    <p>
        <i class="icon icon--write"></i>
        <a href="mailto://{{ site.contact.email }}">{{ site.contact.email }}</a>
    </p>
</div>
