<div class="brick-contact">
    <h3 class="title">Nous contacter</h3>
    <p>
        <i class="icon icon--phone"></i>
        +33 (0)4 82 53 37 19
    </p>
    <p>
        <i class="icon icon--write"></i>
        contact@elao.com
    </p>
</div>
