<div class="brick-visit" data-aos="zoom-in-up" data-aos-delay="150">
    <h3 class="title">Venir nous voir</h3>
    <p class="address">
        <i class="icon icon--location"></i>
        <span class="address__content">
            <span>34 rue Jean Broquin</span>
            <span>69006 Lyon</span>
        </span>
    </p>
</div>
