<div class="brick-application" data-aos="zoom-in-down">
    <p>Votre job n'est pas dans la liste ?</p>
    <h3 class="title">Nous prenons les candidature spontanée</h3>
    <a class="contact-link" href="{{ path('contact') }}">
        <img src="{{ asset('build/images/card.svg') }}" alt="">
        <span>Nous envoyer un message</span>
    </a>
</div>
