services:
    App\Bridge\Glide\Bundle\GlideUrlBuilder:
        arguments:
            - '@router'
            - ~ # $route set by the extension
            - ~ # $signKey set by the extension

    App\Bridge\Glide\Bundle\ResizedUrlGenerator:
        arguments:
            - '@League\Glide\Server'
            - '@App\Bridge\Glide\Bundle\GlideUrlBuilder'
            - ~ # $presetsNames set by the extension
            - ~ # $preGenerate set by the extension
            - '@logger'
        tags:
            - { name: monolog.logger, channel: glide }

    App\Bridge\Glide\Bundle\Twig\GlideExtension:
        arguments:
            - '@App\Bridge\Glide\Bundle\ResizedUrlGenerator'
        tags:
            - { name: twig.extension }

    App\Bridge\Glide\Bundle\SkippedTypes:
        $skippedTypes: !abstract array set by the extension

    League\Glide\Responses\SymfonyResponseFactory: ~

    League\Glide\Server:
        factory: [App\Bridge\Glide\Bundle\DecoratingApiServerFactory, createWithSkippedTypes]
        arguments:
            $skippedTypes: '@App\Bridge\Glide\Bundle\SkippedTypes'
            $config: !abstract set by the extension

    App\Bridge\Glide\Bundle\Controller\ResizeImageController:
        public: true
        arguments:
            - '@League\Glide\Server'
            - # $signKey set by the extension
