@font-face {
  font-family: 'antikor medium';
  src: url('../../fonts/antikor-medium.woff2') format('woff2'),
       url('../../fonts/antikor-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'antikor bold';
  src: url('../../fonts/antikor-bold.woff2') format('woff2'),
       url('../../fonts/antikor-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'faktum bold';
  src: url('../../fonts/faktum-bold.woff2') format('woff2'),
       url('../../fonts/faktum-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'faktum regular';
  src: url('../../fonts/faktum-regular.woff2') format('woff2'),
       url('../../fonts/faktum-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
