@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot') format('embedded-opentype'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  arrow: '\e904',
  brackets: '\e90c',
  bulb: '\e907',
  chevrons: '\e90b',
  cog: '\e908',
  contact: '\e903',
  github: '\e901',
  instagram: '\e902',
  location: '\e906',
  pen: '\e905',
  phone: '\e90a',
  square-brackets: '\e90d',
  twitter: '\e900',
  write: '\e909'
);

@each $icon-name, $icon-character in $icons {
  .icon--#{$icon-name}:before {
    content: $icon-character;
  }
}
