{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        🤖︎ <span class="sf-toolbar-value">SEO</span>
    {% endset %}

    {% block head %}

{% endblock %}
