@import "normalize";
@import "~prismjs/themes/prism-tomorrow.css";

// base
@import "base/_variables";
@import "base/_fonts";
@import "base/_icons";
@import "base/_layout";
@import "base/_utilities";

// layout components
@import "components/_header";
@import "components/_logo";
@import "components/_nav";
@import "components/_nav-mobile";
@import "components/_nav-toggle";
@import "components/_footer";

// components
@import "components/_animated-block";
@import "components/_article-author";
@import "components/_article-banner";
@import "components/_article-content";
@import "components/_article-credits";
@import "components/_article-footer";
@import "components/_article-header";
@import "components/_article-info";
@import "components/_article-list";
@import "components/_article-tag-list";
@import "components/_banner";
@import "components/_breadcrumb";
@import "components/_brick";
@import "components/_brick-conception";
@import "components/_brick-contact";
@import "components/_brick-developpement";
@import "components/_brick-team";
@import "components/_brick-visit";
@import "components/_btn";
@import "components/_bullet";
@import "components/_certifications";
@import "components/_code";
@import "components/_gallery";
@import "components/_kudo";
@import "components/_link";
@import "components/_member";
@import "components/_miniature";
@import "components/_miniature-inline";
@import "components/_miniature-highlight";
@import "components/_modal";
@import "components/_pagination";
@import "components/_preview";
@import "components/_socials";
@import "components/_table-of-content";
@import "components/_tag-list";
@import "components/_team";
@import "components/_technologies";
@import "components/_titles";

// generic
@import "generic/_a";
@import "generic/_blockquote";
@import "generic/_code";
@import "generic/_figure";
@import "generic/_iframe";
@import "generic/_img";
@import "generic/_ul";

// pages
@import "pages/_page-home";
@import "pages/_page-projects";
@import "pages/_page-project";
