@import "normalize";
@import "~prismjs/themes/prism-tomorrow.css";
@import '~aos/dist/aos';

// Prevents hiding elements for animations if js is not enabled:
html.no-js [data-aos] {
  opacity: 1;
  transform: none;
}

// base
@import "base/_variables";
@import "base/_fonts";
@import "base/_icons";
@import "base/_layout";
@import "base/_utilities";

// layout components
@import "components/_header";
@import "components/_logo";
@import "components/_nav";
@import "components/_nav-mobile";
@import "components/_nav-toggle";
@import "components/_footer";

// components
@import "components/_admonition";
@import "components/_alert";
@import "components/_animated-block";
@import "components/_article-author";
@import "components/_article-banner";
@import "components/_article-content";
@import "components/_article-credits";
@import "components/_article-footer";
@import "components/_article-header";
@import "components/_article-info";
@import "components/_article-list";
@import "components/_article-tag-list";
@import "components/_banner-case-study";
@import "components/_banner-error";
@import "components/_banner-home";
@import "components/_banner-methodology";
@import "components/_banner-team";
@import "components/_banner-services";
@import "components/_banner-team";
@import "components/_banner-technology";
@import "components/_banner-values";
@import "components/_breadcrumb";
@import "components/_brick";
@import "components/_brick-conception";
@import "components/_brick-contact";
@import "components/_brick-contribute";
@import "components/_brick-development";
@import "components/_brick-team";
@import "components/_brick-visit";
@import "components/_btn";
@import "components/_build-steps";
@import "components/_bullet";
@import "components/_certification-list";
@import "components/_certification";
@import "components/_check-block";
@import "components/_contact";
@import "components/_form-group";
@import "components/_gallery";
@import "components/_kudo";
@import "components/_link";
@import "components/_list-inline";
@import "components/_member";
@import "components/_miniature";
@import "components/_miniature-inline";
@import "components/_miniature-highlight";
@import "components/_modal";
@import "components/_pagination";
@import "components/_planning-steps";
@import "components/_preview";
@import "components/_process";
@import "components/_project-team";
@import "components/_section-home";
@import "components/_socials";
@import "components/_statistics";
@import "components/_table-of-content";
@import "components/_tabs";
@import "components/_tag-list";
@import "components/_team";
@import "components/_technologies";
@import "components/_titles";
@import "components/_values";
@import "components/_brick-comment";
@import "components/_animated-link";

// generic
@import "generic/_a";
@import "generic/_blockquote";
@import "generic/_code";
@import "generic/_figure";
@import "generic/_iframe";
@import "generic/_img";
@import "generic/_kbd";
@import "generic/_ul";

// pages
@import "pages/_page-contact";
@import "pages/_page-home";
@import "pages/_page-methodology";
@import "pages/_page-projects";
@import "pages/_page-project";
@import "pages/_page-services";
@import "pages/_page-technology";
@import "pages/_page-values";
@import "pages/_page-signature";
@import "pages/_page-jobs";
