@use "sass:color";

.admonition {
  margin: 60px 0;
  padding: 45px 60px 30px;
  position: relative;
  font-family: 'antikor regular';
  font-size: 18px;
  color: $color-dark;
  line-height: 1.6;
  background: $color-light;

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
    width: 58px;
    height: 58px;
    top: -29px;
    left: 31px;
    content: '';
    background: $color-light;
    border-radius: 50px;
  }

  &:after {
    position: absolute;
    top: -30px;
    left: 30px;
    font-family: 'icomoon';
    content: '\e926';
    font-size: 60px;
    line-height: 1;
    color: #fff;
  }

  p {
    margin: 0 0 10px !important;

    &:last-of-type {
      margin: 0;
    }
  }

  a {
    font-family: 'antikor bold';
    border-bottom-color: $color-dark;

    &:hover,
    &:active,
    &:focus {
      color: $color-dark;
    }
  }

  strong, b {
    font-family: 'antikor bold';
  }
}

.admonition-title {
  font-family: 'antikor bold';
  font-size: 20px;
}

.admonition.success {
  background: #3ec789;
  color: color.adjust(#3ec789, $lightness: -40%);

  &:before {
    background: #3ec789;
  }

  &:after {
    content: '\e928';
  }

  a {
    color: color.adjust(#3ec789, $lightness: -40%);
    border-bottom-color: color.adjust(#3ec789, $lightness: -40%);

    &:hover,
    &:active,
    &:focus {
      color: color.adjust(#3ec789, $lightness: -40%);
    }
  }
}

.admonition.danger {
  background: $color-tertiary;
  color: $color-text;

  &:before {
    background: $color-tertiary;
  }

  &:after {
    content: '\e927';
  }

  a {
    color: $color-text;
    border-bottom-color: $color-text;

    &:hover,
    &:active,
    &:focus {
      color: $color-text;
    }
  }
}
