.admonition {
  margin: 60px 0;
  padding: 45px 60px 30px;
  position: relative;
  font-family: 'antikor regular';
  font-size: 1.8rem;
  color: $color-dark;
  line-height: 1.6;
  background: $color-light;

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
    width: 58px;
    height: 58px;
    top: -29px;
    left: 31px;
    content: '';
    background: $color-light;
    border-radius: 50px;
  }

  &:after {
    position: absolute;
    top: -30px;
    left: 30px;
    font-family: 'icomoon';
    content: '\e926';
    font-size: 6rem;
    line-height: 1;
    color: #fff;
  }

  p {
    margin: 0 0 10px !important;

    &:last-of-type {
      margin: 0;
    }
  }
}

.admonition-title {
  font-family: 'antikor bold';
  font-size: 2rem;
}

.admonition.success {
  background: #3ec789;
  color: darken(#3ec789, 40%);

  &:before {
    background: #3ec789;
  }

  &:after {
    content: '\e928';
  }
}

.admonition.danger {
  background: $color-tertiary;
  color: $color-text;

  &:before {
    background: $color-tertiary;
  }

  &:after {
    content: '\e927';
  }
}
