.alert {
  padding: 30px;
  display: flex;
  font-family: 'antikor bold';
  font-size: 1.4rem;

  .icon {
    margin-right: 25px;
    font-size: 2.5rem;
  }
}

.alert--error {
  color: $color-brand;
  background: $color-secondary;
}

.alert--info {
  color: transparentize(#fff, .1);
  background: $color-info;
}
