.article-info {
  padding: 40px 60px 20px;
  max-width: 390px;
  position: absolute;
  bottom: 10px;
  right: 120px;
  display: flex;
  flex-direction: column;
  font-family: 'antikor regular';
  color: #fff;
  background: $color-dark;
  z-index: 1;

  .article-author {
    margin-bottom: 30px;
  }
}

.article-info__date {
  display: flex;
  flex-wrap: wrap;

  span {
    margin-right: 35px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  strong {
    margin-top: 2px;
    font-family: 'faktum bold';
    color: $color-light;
  }
}

@media (max-width: $screen-md) {
  .article-info {
    padding: 30px 30px 20px;
    position: relative;
    top: -30px;
    right: 0;
    flex: 1;
  }
}
