.banner-home {
  margin-top: 20px;
  margin-bottom: 400px;
  padding-bottom: 0;
  position: relative;
}

.banner-home__title {
  margin: 0 0 65px 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'faktum bold';
  font-size: 5.8rem;
  color: $color-brand;
  line-height: 1.3;

  span {
    color: $color-primary;

    &:last-of-type {
      &:after {
        color: $color-brand;
        content: '_';
      }
    }
  }
}

.banner-home__content {
  padding: 0 110px;
  height: 310px;
  width: 950px;
  display: flex;
  align-items: center;
  background: $color-brand;

  h1 {
    margin: 0;
    width: 510px;
    font-family: 'antikor regular';
    font-size: 3.2rem !important;
    font-weight: normal;
    color: #fff;
  }
}

.banner-home__image {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  figure {
    margin: 0 0 22px;
    width: 100%;
    position: relative;
    display: flex;

    .image {
      height: 335px;
      width: 510px;
      background-size: cover !important;
      background-position: center !important;
    }

    figcaption {
      padding: 20px 25px;
      min-height: 120px;
      max-height: 150px;
      min-width: 220px;
      max-width: 240px;
      position: absolute;
      bottom: 20px;
      left: 22px;
      display: flex;
      justify-content: flex-start;
      font-family: 'faktum regular';
      font-size: 1.8rem;
      color: $color-brand;
      background: $color-secondary;

      span {
        margin: 0 0 5px;
        font-family: 'antikor bold';
        color: $color-primary;
      }
    }
  }
}

.banner-home__list {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -220px;
  left: 200px;
  display: flex;
  list-style: none;

  li {
    &:before,
    &:after {
      display: none;
    }
  }

  .item {
    margin: 0 20px;
    padding: 40px 30px 25px;
    height: 260px;
    width: 290px;
    display: flex;
    flex-direction: column;
    font-family: 'faktum regular';
    font-size: 2rem;
    color: $color-brand;
    text-decoration: none;
    background: $color-secondary;
    border: none;

    .number {
      margin: 0 0 10px;
      font-family: 'antikor medium';
      color: $color-primary;
      font-size: 7.6rem;
      line-height: 1.2;
    }

    small {
      font-size: 1.6rem;
      line-height: 2;
    }

    .item__link {
      margin-top: auto;
      margin-left: auto;
      padding-right: 0;
      display: flex;
      align-items: center;
      font-family: 'antikor bold';
      font-size: 1.8rem;
      color: $color-primary;

      .icon {
        margin-left: 12px;
        font-size: 2.3rem;
        color: $color-brand;
      }
    }
  }
}

@media (max-width: $screen-lg) {
  .banner-home {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  .banner-home__title {
    margin-left: 0;
    order: 1;
    align-self: center;
  }

  .banner-home__content {
    padding: 0 70px;
    width: 85%;
    min-width: 250px;
    height: 230px;
    justify-content: center;
    align-self: center;
    order: 2;

    h1 {
      width: unset;
      font-size: 2.4rem !important;
    }
  }

  .banner-home__image {
    width: 100%;
    position: relative;
    top: unset;
    order: 4;
    align-items: center;

    figure {
      margin: 0;

      .image {
        width: 100%;
        height: 500px;
      }

      figcaption {
        width: 325px;
        bottom: 102px;
        left: unset;
        transform: none;
        right: 20px;
      }
    }

    .btn {
      z-index: 1;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }

  .banner-home__list {
    width: 100%;
    position: relative;
    left: 0;
    top: -20px;
    order: 3;
    justify-content: center;

    .item {
      margin: 0 15px;
      padding: 40px;
      width: 300px;
      font-size: 2rem;

      .item__link {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .banner-home__image {
    figure {
      .image {
        margin: 0;
        height: 400px;
      }
    }
  }

  .banner-home__content {
    align-self: flex-end;
  }

  .banner-home__list {
    flex-direction: column;

    .item {
      margin: 5px 0;
      padding: 30px 60px;
      height: unset;
      width: 80%;
      min-width: 250px;

      .number {
        font-size: 5rem;
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .banner-home {
    margin-top: 0;
  }

  .banner-home__content {
    padding: 20px 20px 40px;
    height: unset;
    width: 100%;

    h1 {
      font-size: 1.8rem !important;
    }
  }

  .banner-home__title {
    margin-bottom: 40px;
    font-size: 3.5rem !important;
  }

  .banner-home__image {
    figure {
      margin: 0 0 90px;

      figcaption {
        width: 280px;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
        right: unset;
      }
    }

    .btn {
      width: 280px;
      position: static;
    }
  }

  .banner-home__list {
    .item {
      padding: 15px 20px;
      margin: 0;
      margin-left: auto;
      height: 120px;
      width: calc(100% - 50px);
      font-size: 1.6rem;

      small {
        font-size: 1.4rem;
      }

      .number {
        margin: 0;
        font-size: 3.2rem;
      }

      .item__link {
        font-size: 1.4rem;
      }
    }
  }
}
