.banner-services {
  position: relative;
}

.banner-services__title {
  margin-bottom: 60px;
}

.banner-services__content {
  .image {
    margin: 0;
    width: 1000px;
    max-width: 100%;
    height: 400px;
    background-image: url(../../images/pages/services/services-banner.jpg);
    background-image: image-set(url(../../images/pages/services/services-banner.jpg) 1x,
    url(../../images/pages/services/services-banner@2x.jpg) 2x);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .highlight {
    padding: 40px;
    width: 620px;
    height: 210px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'antikor regular';
    font-size: 24px;
    color: #fff;
    line-height: 1.6;
    background: $color-brand;
    z-index: -1;

    .icon {
      position: absolute;
      right: 60px;
      bottom: -45px;
      font-size: 110px;
      color: $color-secondary;
      line-height: 1;
    }
  }
}

@media (max-width: $screen-lg) {
  .banner-services {
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-services__title {
    margin-bottom: 40px;
    position: static;
  }

  .banner-services__content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    .image {
      width: calc(100% - 90px);
      height: 200px;
      position: absolute;
      top: calc(100% - 40px);
    }

    .highlight {
      padding: 0 30px;
      width: calc(100% - 30px);
      position: static;
      align-self: flex-end;

      .icon {
        display: none;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .banner-services__title {
    max-width: 250px;
  }

  .banner-services__content {
    .image {
      top: calc(100% - 25px);
    }

    .highlight {
      font-size: 18px;
    }
  }
}
