.banner {
  margin: 100px 0 80px;
  display: flex;
  align-items: center;
}

.banner__title {
  margin: 0 30px 0 110px;
  position: relative;
  top: -20px;
  line-height: 1.5;
}

.banner__highlight {
  margin-left: auto;
  padding: 45px 70px 60px;
  width: 680px;
  min-width: 680px;
  min-height: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'antikor regular';
  font-size: 24px;
  color: #fff;
  line-height: 1.6;
  background: $color-brand;
  z-index: 1;

  p {
    margin: 0 !important;
  }

  .icon {
    position: absolute;
    right: 10px;
    bottom: -45px;
    font-size: 90px;
    color: $color-primary;
    line-height: 1;
  }
}

@media (max-width: $screen-md) {
  .banner {
    margin: 0 0 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner__title {
    margin: 0 0 50px;
    position: static;
  }

  .banner__highlight {
    font-size: 20px;
  }

  .banner__highlight {
    margin: 0;
    padding: 45px 70px;
    width: 100%;
    min-height: unset;
    min-width: unset;
  }
}

@media (max-width: $screen-xs) {
  .banner {
    margin: 0 0 60px;
  }

  .banner__title {
    margin: 0 0 30px;
  }

  .banner__highlight {
    padding: 40px 30px;

    .icon {
      display: none;
    }
  }

  .banner__highlight {
    font-size: 18px;
  }
}
