.banner-methodology {
  display: flex;
  flex-direction: column;
}

.banner-methodology__title {
  margin-bottom: 60px;
}

.banner-methodology__content {
  padding: 0 110px;
  position: relative;
  display: flex;

  .info {
    padding-right: 40px;

    p:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  img {
    margin: 0;
    min-width: 500px;
    position: relative;
    top: -130px;
  }
}

@media (max-width: $screen-lg) {
  .banner-methodology__content {
    padding: 0 40px 0 0;

    img {
      min-width: 350px;
    }
  }
}

@media (max-width: $screen-sm) {

  .banner-methodology__title {
    margin-bottom: 40px;
  }

  .banner-methodology__content {
    padding: 0;

    .info {
      padding: 0;
    }

    img {
      display: none;
    }
  }
}
