.banner-values {
  margin-bottom: 135px;
  position: relative;
}

.banner-values__title {
  margin-bottom: 60px;
}

.banner-values__content {
  .image {
    margin: 0;
    width: 1170px;
    max-width: 100%;
    height: 400px;
    background-image: url(../../images/pages/values/values-banner.jpg);
    background-image: image-set(url(../../images/pages/values/values-banner.jpg) 1x,
                                url(../../images/pages/values/values-banner@2x.jpg) 2x);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .highlight {
    width: 620px;
    height: 210px;
    position: absolute;
    bottom: -90px;
    right: 0;
    background: $color-brand;

    .icon {
      position: absolute;
      right: 75px;
      bottom: -45px;
      font-size: 125px;
      color: $color-secondary;
      line-height: 1;
    }
  }
}

@media (max-width: $screen-md) {
  .banner-values {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-values__title {
    margin-bottom: 20px;
    position: static;
  }

  .banner-values__content {
    width: 100%;

    .highlight {
      display: none;
    }

    .image {
      width: 100%;
      height: 230px;
    }
  }
}
