.banner-technology {
  margin: 0 0 100px;
  padding: 0 110px;
  display: flex;
  align-items: flex-start;
}

.banner-technology__title {
  margin: 0 auto 0 0;
  display: inline-block;
}

.banner-technology__image {
  margin: 45px 110px 0 70px;
  min-width: 300px;
  height: 150px;
  position: relative;
  background: $color-brand;

  .logo {
    margin: 0;
    padding: 25px;
    width: 150px;
    position: absolute;
    right: -110px;
    bottom: -40px;
    background: $color-secondary;
  }
}

@media (max-width: $screen-md) {
  .banner-technology {
    margin: 0 0 50px;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .banner-technology__title {
    margin: 0 40px 40px;
    max-width: 510px;
  }

  .banner-technology__image {
    display: none;
  }
}
