.brick-send-message {
  @extend .brick;
  @extend .brick--large;

  min-height: 190px;
  color: $color-light;
  background: $color-dark;
  transition: opacity ease .4s, transform ease .4s, background ease .2s !important;

  .title {
    margin: 40px 0;
    font-family: 'faktum bold';
    font-size: 46px;
    color: #fff;
  }

  .animation {
    display: flex;
    align-items: center;
    font-family: 'antikor bold';
    font-size: 28px;
    border: none;

    .letter {
      margin-right: 30px;
      width: 90px;
      overflow: visible;
    }

    .letter__arrow {
      .base,
      .tip {
        transition: transform ease-out .2s;
      }
    }
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-light;
    background: darken($color-dark, 2%);

    .animation {
      .letter__arrow {
        .base {
          transform: scaleX(1.2);
        }

        .tip {
          transform: translateX(15px);
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .brick-send-message {
    .title {
      margin: 20px 0;
      max-width: 500px;
      font-size: 20px;
      line-height: 26px;
    }

    .animation {
      font-size: 18px;
      line-height: 1.2;

      .letter {
        width: 60px;
      }
    }
  }
}
