.bricks {
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap;
}

.brick {
  margin: 20px;
  padding: 60px 100px;
  min-width: calc(50% - 40px);
  width: calc(50% - 40px);
  display: flex;
  flex-direction: column;
  font-family: antikor regular;
  font-size: 20px;
  color: #fff;

  .title {
    margin: 20px 0 40px;
    font-family: faktum bold;
    font-size: 36px;
  }
}

.brick--large {
  padding: 100px;
  min-width: calc(100% - 40px);
  width: calc(100% - 40px);
}

@media (max-width: $screen-sm) {
  .bricks {
    margin: 0;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .brick {
    margin: 5px 0;
    padding: 25px !important;
    width: 100% !important;

    .title {
      font-size: 16px;
      line-height: 25px;
    }
  }
}
