.brick-conception {
  @extend .brick;
  @extend .brick--large;

  min-height: 190px;
  color: $color-light;
  background: $color-dark;

  .title {
    margin: 40px 0;
    font-family: 'faktum bold';
    font-size: 4.6rem;
    color: #fff;
  }
}

@media (max-width: $screen-sm) {
  .brick-conception {
    .title {
      margin: 20px 0;
      max-width: 500px;
      font-size: 2rem;
      line-height: 26px;
    }
  }
}
