.brick-comment {
  @extend .brick;
  @extend .brick--large;

  color: #fff;
  background: $color-dark;

  .title {
    margin: 40px 0;
    font-family: 'faktum bold';
    font-size: 46px;
    color: $color-light;
  }

  .tweet-container {
    margin-top: 40px;
  }
}

@media (max-width: $screen-xs) {
  .brick-comment {
    .title {
      margin: 0 0 20px;
      font-size: 27px;
    }

    .tweet-container {
      display: none;
    }
  }
}
