.brick-contact {
  @extend .brick;

  background: $color-tertiary;

  p {
    margin: 0 0 15px;
    display: flex;
    align-items: center;
  }

  .title {
    color: $color-primary;
  }

  .icon {
    font-size: 30px;
    margin-right: 20px;
  }
}
