.bullet {
  height: 17px;
  min-width: 17px;
  position: absolute;
  top: -5px;
  right: -18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: $color-brand;
  background: $color-secondary;
  border-radius: 50px;
}
