.carousel-container {
  display: flex;
  overflow: hidden;
  position: relative;

  .carousel-item {
    max-width: 100%;
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
  }
}

.carousel__buttons {
    display: flex;
    justify-content: center;

    button {
        color: $color-primary;
        background: transparent;
        border: 0;
        font:{
          weight: bold;
          size: 18px;
        }
    }
}
