.certifications {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 0 15px;
    padding: 10px 20px;
    max-width: 280px;
    display: flex;
    align-items: center;
    font-family: 'antikor medium';
    font-size: 14px;
    color: #fff;
    background: $color-brand;

    &:before,
    &:after {
      display: none;
    }

    &:last-of-type {
      margin: 0;
    }

    p {
      margin-left: 20px;

      span {
        display: block;
      }
    }
  }

  img {
    margin: 0;
    width: 35px;
  }
}
