.check-block {
  padding: 75px 45px 75px 75px;
  position: relative;
  color: #fff;
  background: $color-info;

  &:before {
    position: absolute;
    top: -45px;
    left: 45px;
    width: 85px;
    height: 70px;
    content: '';
    background-image: url('../../images/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  p {
    margin: 0 0 30px;
  }
}

.check-block__title {
  margin-bottom: 55px;
  display: block;
  font-family: 'antikor bold';
  font-size: 32px;
  color: $color-secondary;
}

.check-block__list {
  li {
    margin-bottom: 35px;

    &:before {
      border-color: rgba(254, 227, 228, .4);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.check-block--right {
  &:before {
    left: unset;
    right: 45px;
  }
}

.check-block--unchecked {
  &:before {
    background-image: url('../../images/uncheck.svg');
  }
}

.check-block--secondary {
  color: $color-text;
  background: $color-secondary;

  .check-block__title {
    color: $color-primary;
  }

  .check-block__list {
    li {
      color: $color-text;

      &:before {
        border-color: rgba(127, 26, 85, .3);
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .check-block {
    margin-top: 40px;
    padding: 75px 30px 75px 60px;

    &:before {
      width: 60px;
      left: unset;
      right: 30px;
    }
  }
}

@media (max-width: $screen-xs) {
  .check-block {
    padding: 45px 20px 20px;
  }
}
