[class*="language-"] {
    display: block;
    color: #ccc;
    background: $code-background;
    font-family: $code-font;
    padding: 0.4em 0.8em;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    overflow: auto;
    tab-size: 4;
    hyphens: none;
}

.inline-code {
    background-color: rgba($color-brand, 0.4);
    border-radius: 0.2em;
    padding: 0 0.2em;
    font-size: 0.9em;
    font-family: $code-font;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: $code-mutted;
}

.token.property,
.token.delimiter {
    color:$code-white;
}

.token.punctuation {
    color: $code-grey;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
    color: $code-red;
}

.token.class-name,
.token.function-name,
.token.function {
    color: $code-green;
}

.token.boolean,
.token.number {
    color: $code-purple;
}

.token.constant,
.token.symbol,
.token.variable {
    color: $code-orange;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
   color: $code-red;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex, {
    color: $code-yellow;
}

.token.operator,
.token.entity,
.token.url {
    color: $code-blue;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: $code-green;
}
