code {
    padding: 0.4em 0.8em;
    background: $code-background;
    color: #fff;
    display: block;
    font-family: $code-font;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    overflow-x: auto;
}

.inline-code {
    background-color: rgba($primary, 0.4);
    border-radius: 0.2em;
    padding: 0 0.2em;
    font-size: 0.9em;
    font-family: $code-font;
}

code.success {
    color: $monokai-green;
    margin-left: -0.5em;
    border-left: 0.5em solid $monokai-green;
}

code.error {
    color: $monokai-error;
    border-left: 0.5em solid $monokai-error;
    margin-left: -0.5em;
}

code[data-output] {
    position: relative;
}
code[data-output]::before {
    content: attr(data-output);
    color: $monokai-mutted;
    margin-right: 1em;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: $monokai-mutted;
}

.token.punctuation {
    color: $monokai-grey;
}

.token.operator,
.token.entity,
.token.url,
.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
    color: $monokai-red;
}

.token.inserted {
    color: $monokai-green;
}

.token.boolean,
.token.number {
    color: $monokai-purple;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    color: $monokai-orange;
}

.token.function-name,
.token.function,
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: $monokai-blue;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: $monokai-yellow;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
