.contact {
  position: relative;
  width: 100%;
  display: flex;
  perspective: 2000px;
  justify-content: center;
}

.contact__3d {
  inset: 0;
  transform: rotateY(var(--r-x)) rotateX(var(--r-y));
  clip-path: inset(0 0 0 0 round 10px);
  display: flex;
}

.contact__content {
  width: 100%;
  padding: 75px 100px;
  display: flex;
  max-width: 1040px;
  background: $color-secondary;
}

// Adds a soft light
.contact__layer-soft-light {
  position: absolute;
  inset: 0;
  z-index: 20;
  pointer-events: none;
  mix-blend-mode: soft-light;
  clip-path: inset(0 0 1px 0 round 10px);
  background: radial-gradient(
    farthest-corner circle at var(--x) var(--y),
    rgba(255, 255, 255, 0.7) 10%,
    rgba(255, 255, 255, 0.45) 20%,
    rgba(255, 255, 255, 0) 90%
  );
}

.contact__image {
  position: relative;
}

// Adds a diagonal glare
.contact__layer-diagonal-light {
  --diagonal: repeating-linear-gradient(
    130deg,
    #0e152e 0%,
    hsl(180, 10%, 60%) 6.5%,
    hsl(180, 10%, 60%) 12.5%,
    hsl(180, 10%, 60%) 23.5%,
    #0e152e 38%,
    #0e152e 50%
  )
  var(--bg-x) var(--bg-y) / 300%;
  position: absolute;
  inset: 0;
  z-index: 30;
  pointer-events: none;
  mix-blend-mode: color-dodge;
  will-change: background;
  transition-property: opacity;
  clip-path: url(#contactStampNegative);
  background-blend-mode: overlay;
  background: var(--diagonal);
}

// sweet hologram effect
// Inspired from https://deck-24abcd.netlify.app/
.contact__layer-hologram {
  position: absolute;
  inset: 0;
  z-index: 20;
  pointer-events: none;
  mix-blend-mode: exclusion;
  opacity: min(calc(var(--dist-center) * 0.4), 0.5);
  will-change: background;
  transition-property: opacity;
  clip-path: url(#contactStampNegative);
  background-blend-mode: overlay;
  background-image: url('../../images/pages/contact/hologram.webp');
  background-size: 80%;
  filter: brightness(var(--dist-center));
}

.contact__message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 1;

  .title {
    margin: 0 0 50px;
    width: 100%;
    font-family: 'antikor bold';
    font-size: 28px;
    color: $color-primary;
  }

  .btn {
    margin-top: 50px;
  }
}

.contact__infos {
  margin-left: 100px;
  min-width: 300px;
  font-family: 'antikor medium';
  font-size: 20px;
  color: $color-primary;

  img {
    margin: 0 0 65px;
    height: 100px;
  }

  p, address {
    margin: 0 0 25px;
    display: flex;
    flex-direction: column;
  }

  a {
    border: none;
  }

  .name {
    font-family: 'antikor bold';
    font-size: 28px;
  }
}


@media (max-width: $screen-sm) {
  .contact__3d {
    transform: none;
    clip-path: none;
  }

  .contact__layer-soft-light {
    display: none;
  }

  .contact__content {
    padding: 0;
    flex-direction: column;
    background: transparent;

    .title {
      margin: 0 0 30px;
      font-size: 16px;
    }

    .btn {
      width: 100%;
      justify-content: center;
    }
  }

  .contact__message {
    padding: 45px 30px;
    background: $color-secondary;
  }

  .contact__infos {
    margin: 20px 0 0;
    padding: 45px 30px;
    color: $color-light;
    background: $color-dark;
  }

  .contact__image {
    display: none;
  }
}
