.footer {
  font-size: 16px;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    li {
      margin: 13px 0;

      &:before,
      &:after {
        display: none;
      }
    }
  }

  a {
    position: relative;
    color: $color-text;
    text-decoration: none;
    border: none;
    transition: color ease-in .15s;

    &:hover {
      color: $color-brand;
    }
  }
}

.footer__links {
  margin: 60px 0;
  display: flex;
  align-items: flex-end;

  .h1--small {
    margin-right: 130px;
  }

  .links {
    flex: 1;

    ul {
      flex-wrap: wrap;

      li {
        width: 220px;
      }
    }
  }

  .socials {
    width: 270px;

    h4 {
      margin: 0 0 30px;
    }

    ul {
      flex-direction: column;
    }

    a {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 17px;
        font-size: 21px;
        color: $color-brand;
      }
    }
  }
}

.footer__legals {
  padding: 40px 0;
  min-width: 100%;
  display: flex;
  justify-content: center;
  border-top: solid 3px $color-secondary;

  span,
  a {
    margin: 0 30px;
  }
}

@media (max-width: $screen-sm) {
  .footer {
    padding: 0 25px;
  }

  .footer__links {
    flex-direction: column;
    align-items: flex-start;

    .h1--small {
      margin: 0 0 35px;
    }

    .links {
      margin: 0 0 35px;

      ul {
        flex-direction: column;
        flex-wrap: nowrap;

        li {
          width: unset;
        }
      }
    }
  }

  .footer__legals {
    flex-direction: column;

    span,
    a {
      margin: 0 0 10px;
    }
  }
}
