.header {
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: #fff;
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    border: none;
  }
}

@media(max-width: $screen-md) {
  .header {
    height: 60px;
  }
}
