.kudo {
  margin: 30px;
  padding: 0;
  height: 75px;
  width: 75px;
  border: none;
  border-radius: 50px;
  background: $color-secondary url('../../images/kudo.svg');
  background-position: left;
  background-repeat:no-repeat;
  transition: transform ease-in .2s;

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    outline: none;
    transform: scale(1.05);
  }
}

.kudo--animate {
  outline: none;
  box-shadow: none;
  animation: kudo 1s steps(20) forwards;
}

@keyframes kudo {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}
