.last-articles {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
  width: 100%;

  .last-article {
    width: calc(50% - 40px);
    min-width: calc(50% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;

    &:before, &:after {
      display: none;
    }

    &__image {
      width: 100%;
      height: 320px;
      border: none;
      overflow: hidden;

      & > .image {
        height: 100%;
        width: 100%;
        display: block;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
      }
    }

    &__content {
      padding: 10px;
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "antikor bold";
        color: $color-tertiary;
      }

      h3 {
        .title {
          color: $color-primary;
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .last-articles {
    margin-left: -10px;
    margin-right: -10px;
    .last-article {
      width: 100%;
      margin: 10px;
    }
  }
}
