.member {
  margin: 0 auto 70px;
  max-width: 1020px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.member__infos {
  margin: 0 0 30px;
  width: calc(100% - 550px);

  h1 {
    margin: 0;
  }

  .job {
    margin: 0 0 40px;
    font-family: 'antikor bold';
    font-size: 18px;
    color: $color-brand;
  }

  .description {
    margin-bottom: 50px;
    display: block;
  }

  .socials {
    margin: 0 0 70px;
  }

  .certifications {
    margin: 0 0 45px;
  }

  .interests {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin: 0 15px;
      font-size: 30px;

      &:before,
      &:after { display: none; }

      &:first-of-type { margin-left: 0; }
      &:last-of-type { margin-right: 0; }
    }
  }
}

.member__image {
  margin-left: 40px;
  margin-bottom: 95px;
  position: relative;
  z-index: 1;

  img {
    margin: 0;
  }

  .seniority {
    padding: 0 45px;
    height: 240px;
    width: 260px;
    position: absolute;
    top: 40px;
    right: -165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-brand;
    line-height: 1.4;
    background: $color-secondary;

    span {
      margin-bottom: 10px;
      font-family: 'antikor bold';
      font-size: 30px;
      color: $color-primary;
      line-height: 1;
    }
  }
}

.member__image--mobile {
  display: none;
}

.member__contributions {
  display: flex;
  align-items: flex-start;

  .article-list {
    margin: 0;
    padding: 0 20px;
    width: 50%;

    &:first-of-type { padding-left: 0; }
    &:last-of-type { padding-right: 0; }
  }
}

@media (max-width: $screen-md) {
  .member {
    flex-direction: column;
  }

  .member__infos {
    margin: 0 0 50px;
    width: 100%;
    max-width: unset;
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0 auto 50px;
    }
  }

  .member__profile {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 380px;
  }

  .member__image {
    margin: 0 auto 100px;
    padding: 0;
    width: 500px;
    display: none;

    img {
      margin: 0 auto;
    }

    .seniority {
      padding: 20px 30px;
      height: unset;
      width: 250px;
      top: unset;
      right: unset;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%) !important;

      span {
        font-size: 30px;
      }
    }
  }

  .member__image--mobile {
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width: $screen-xs) {
  .member__infos {
    h1 {
      max-width: 280px;
    }
  }

  .member__profile {
    max-width: unset;

    .job {
      margin: 0 0 25px;
    }

    .socials,
    .certifications {
      margin: 0 0 40px;
    }
  }

  .member__image {
    margin: 0 auto 80px;
    width: 100%;

    .seniority {
      width: 220px;

      span {
        font-size: 30px;
      }
    }
  }

  .member__contributions {
    flex-direction: column;

    .article-list {
      padding: 0;
      width: 100%;
    }
  }
}
