.member__contributions {
  display: flex;
  align-items: flex-start;

  .article-list {
    margin: 0;
    padding: 0 20px;
    width: 50%;

    &:first-of-type { padding-left: 0; }
    &:last-of-type { padding-right: 0; }
  }
}


@media (max-width: $screen-xs) {
  .member__contributions {
    flex-direction: column;

    .article-list {
      padding: 0;
      width: 100%;
    }
  }
}
