@use "sass:color";

.miniature-highlight {
  margin: 0 0 70px;
  padding-bottom: 190px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:before,
  &:after {
    display: none;
  }
}

.miniature-highlight__image {
  width: calc(100% - 110px);
  height: 480px;
  border: none;
  overflow: hidden;

  &:hover,
  &:active,
  &:focus {
    .image {
      transform: scale(1.02);
      transform-origin: center;

      &:before { opacity: 1; }
    }
  }

  .image {
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transition: transform ease-in-out .4s;

    &:before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background-color: rgba(0, 0, 0, .15);
      opacity: 0;
      transition: opacity ease-in-out .4s;
    }
  }
}

.miniature-highlight__content {
  position: absolute;
  top: 370px;
  right: 0;
  display: flex;
  align-items: flex-start;

  .info {
    padding: 25px 35px;
    min-width: 370px;
    display: flex;
    font-size: 16px;
    background: $color-dark;
  }

  .details {
    padding: 50px 60px;
    width: 730px;
    height: 300px;
    background: $color-brand;
    color: #fff;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'faktum regular';
    font-size: 20px;
    transition: background ease-in .15s;

    &:hover,
    &:active,
    &:focus {
      background: color.adjust($color-brand, $lightness: -2%);
    }

    .title {
      margin: 0 0 20px;
      font-family: 'antikor bold';
      font-size: 32px;
      color: #fff;
      line-height: normal !important;
    }
  }
}

@media (max-width: $screen-md) {
  .miniature-highlight {
    padding-bottom: 240px;

    .miniature-highlight__content {
      .details {
        width: 550px;
        height: 350px;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .miniature-highlight {
    margin: 0 0 30px;
    padding: 0;

    .miniature-highlight__image {
      display: none;
    }

    .miniature-highlight__content {
      width: 100%;
      position: relative;
      top: unset;
      right: unset;
      flex-direction: column-reverse;
      align-items: flex-end;

      .info {
        position: relative;
        top: -30px;
        z-index: 1;

        .article-author {
          flex-direction: column;
          align-items: flex-start;
        }

        .article-author__info + .article-author__info {
          margin-top: 20px;
          margin-left: 0;
        }
      }

      .details {
        padding: 35px 30px 60px;
        width: 100%;
        height: unset;
        min-height: 250px;
        font-size: 16px;

        .title {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .miniature-highlight {
    .miniature-highlight__content {
      .info {
        min-width: 220px;
      }
    }
  }
}
