.miniature-inline {
  margin: 0 0 80px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &:before,
  &:after {
    display: none;
  }
}

.miniature-inline__image {
  min-width: 500px;
  height: 370px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  border: none;
  overflow: hidden;

  &:hover {
    .image {
      transform: scale(1.02);
      transform-origin: center;

      &:before { opacity: 1; }
    }
  }

  .image {
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transition: transform ease-in-out .4s;

    &:before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background-color: rgba(0, 0, 0, .15);
      opacity: 0;
      transition: opacity ease-in-out .4s;
    }
  }
}

.miniature-inline__content {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .info,
  .date { font-family: 'antikor bold'; }

  .info { color: $color-info; }
  .date { color: $color-tertiary; }

  .title {
    margin: 20px 0 15px;
    padding: 0;
    border: none;
    font-family: 'antikor bold';
    font-size: 32px;
    color: $color-primary;
    line-height: 1.4;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .description {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 1.5;
    color: $color-text;
  }

  .btn {
    margin-top: 25px;
  }
}

.miniature-inline--small {
  margin: 15px 0 35px;
  align-items: center;

  &:last-of-type {
    margin-bottom: 0;
  }

  .miniature-inline__image {
    min-width: 120px;
    height: 100px;
  }

  .miniature-inline__content {
    .title {
      margin: 0;
      font-size: 22px;
    }
  }
}

@media (max-width: $screen-sm) {
  .miniature-inline {
    margin: 0 0 60px;
    flex-direction: column;

    .btn,
    .link {
      display: none;
    }
  }

  .miniature-inline__image {
    margin-bottom: 35px;
    min-width: unset;
    width: 100%;
    height: 220px;
  }

  .miniature-inline__content {
    padding: 0;

    .date,
    .info {
      margin: 0 0 10px;
    }

    .title {
      margin: 0 0 10px;
      font-size: 28px;
    }
  }

  .miniature-inline--small {
    margin: 0 0 40px;
    align-items: flex-start;

    .miniature-inline__image {
      margin-bottom: 15px;
      height: 160px;
    }
  }
}
