.miniature {
  margin: 0 20px 50px;
  padding: 0;
  width: calc(25% - 40px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:before,
  &:after {
    display: none;
  }

  .link {
    margin-top: 15px;
  }
}

.miniature__image {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  border: none;
  overflow: hidden;

  &:hover {
    .image {
      transform: scale(1.02);
      transform-origin: center;

      &:before { opacity: 1; }
    }
  }

  .image {
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transition: transform ease-in-out .4s;

    &:before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background-color: rgba(0, 0, 0, .15);
      opacity: 0;
      transition: opacity ease-in-out .4s;
    }
  }
}

.miniature__content {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .info,
  .date { font-family: 'antikor bold'; }

  .info { color: $color-info; }
  .date { color: $color-tertiary; }

  .title {
    margin: 0 0 15px;
    padding: 0;
    border: none;
    font-family: 'antikor bold';
    font-size: 22px;
    color: $color-primary;
    line-height: 1.4;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .description {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 1.5;
    color: $color-text;
  }
}

.miniature--large {
  margin: 25px 20px 50px;
  width: calc(50% - 40px);

  .miniature__content {
    .info {
      margin: 0 0 20px;
    }

    .title {
      margin: 0 0 30px;
      font-size: 32px;
    }

    .description {
      margin: 0 0 30px;
      line-height: 1.6;
    }
  }
}

@media (max-width: $screen-md) {
  .miniature__image {
    min-width: 50%;
  }
}

@media (max-width: $screen-sm) {
  .miniature {
    margin: 0 0 30px;
    width: 100%;
  }

  .miniature__image {
    display: none;
  }

  .miniature__content {
    padding-left: 0;

    .date {
      margin: 0 0 10px;
    }

    .title {
      margin: 0 0 10px;
      font-size: 18px;
    }
  }

  .miniature--large {
    margin: 20px 0 40px;

    .miniature__image {
      height: 290px;
      display: block;
    }

    .miniature__content {
      .description {
        font-size: 20px;
      }
    }
  }

  .miniature--large {
    .miniature__image {
      display: block;
    }
  }
}

@media (max-width: $screen-xs) {
  .miniature {
    .btn,
    .link {
      width: 100%;
      justify-content: center;
    }
  }
}
