.modal {
  display: none;
}

.modal--show {
  padding: 110px 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(0, 0, 0, .7);
  z-index: 100;
  overflow-y: auto;
}

.modal__button {
  position: absolute;
  top: 30px;
  right: 25px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: $color-brand;
  background: $color-secondary;
  border: none;
}

.modal__content {
  display: flex;
  justify-content: center;

  img {
    margin: 0;
  }
}

@media (max-width: $screen-sm) {
  .modal__button {
    top: 15px;
    right: 20px;
  }
}
