.nav-toggle {
  display: none;
}

@media (max-width: $screen-sm) {
  .nav-toggle {
    margin: 0;
    padding: 3px;
    display: flex;
    align-items: flex-end;
    border: none;
    background: transparent;

    .icon {
      font-size: 2rem;
    }
  }

  .nav-toggle--open {
    .icon {
      color: $color-brand;
    }
  }

  .nav-toggle--close {
    .icon {
      color: #fff;
    }
  }
}
