.nav {
  display: flex;
  align-items: flex-end;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
}

.nav__item {
  margin: 0 20px;

  &:before,
  &:after {
    display: none;
  }

  &:last-of-type {
    margin-right: 0;

    a {
      font-family: 'antikor bold';
    }
  }

  a {
    display: flex;
    align-items: center;
    font-family: 'antikor medium';
    font-size: 16px;
    color: $color-primary;
    text-decoration: none;
    transition: color ease-in .2s;

    .icon {
      margin-right: 15px;
      font-size: 19px;
    }

    span {
      position: relative;

      &:after {
        height: 2px;
        width: 10px;
        position: absolute;
        bottom: 1px;
        right: -10px;
        content: '';
        background-color: $color-brand;
        opacity: 0;
        transform: translateY(2px);
        transition: transform ease-in .2s, opacity ease-in .2s;
      }
    }
  }

  a:hover,
  a:focus,
  a:active {
    color: darken($color-primary, 10%);

    span {
      &:after {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

.nav__item--active {
  a {
    font-family: 'antikor bold';

    span {
      display: flex;
      align-items: center;

      &:before,
      &:after {
        font-size: 22px;
        position: relative;
        color: $color-brand;
      }

      &:before {
        left: -5px; 
        content: '['; 
      }

      &:after {
        height: unset;
        width: unset;
        bottom: unset;
        right: unset;
        background-color: transparent;
        opacity: 1;
        transform: none;
        transition: none;
        content: ']';
        right: -5px; 
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .nav {
    display: none;
  }
}
