.nav-mobile {
  display: none;
}

@media (max-width: $screen-sm) {
  .nav-mobile {}

  .nav-mobile--open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $color-brand;
    z-index: 1000;

    ul {
      margin: 0 auto;
      padding: 0 45px;
      height: 100%;
      min-width: 400px;
      display: flex;
      flex-direction: column;
      list-style: none;
    }
  }

  .nav-mobile__header {
    margin: 0 20px 90px;
    min-height: 60px;
    justify-content: space-between;
    display: flex;
    align-items: center;

    .logo {
      path,
      rect {
        fill: #fff;
      }
    }
  }

  .nav-mobile__item {
    margin: 15px 0;

    &:before,
    &:after {
      display: none;
    }

    a {
      font-family: 'antikor medium';
      color: #fff;
      text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
      color: #fff;

      span {
        &:after {
          background-color: #fff;
        }
      }
    }
  }

  .nav-mobile__item--large {
    margin: 35px 0 0;
    width: 100%;

    a {
      height: 55px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'antikor bold';
      color: $color-brand;
      background: $color-secondary;

      .icon {
        margin-right: 20px;
        font-size: 20px;
      }
    }

    a:hover,
    a:focus,
    a:active {
      color: $color-brand;

      span {
        &:after {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .nav-mobile--open {
    ul {
      min-width: 230px;
    }
  }
}
