.partners {
  background-color: $color-info;
  width: 100%;
  min-width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  & > img {
    max-width: 150px;
    margin: auto auto;
  }
}

@media (max-width: $screen-sm) {
  .partners {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: $screen-xs) {
  .partners {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);

    & > img {
      max-width: 120px;
    }
  }
}
