.page-project__detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    &:before,
    &:after { display: none; }

    margin: 0 20px 40px;
    padding: 35px 40px;
    width: 290px;
    min-width: 290px;
    font-family: 'antikor bold';
    font-size: 2.6rem;
    color: $color-light;
    background: $color-dark;

    small {
      margin: 0 0 20px;
      display: block;
      font-family: 'faktum regular';
      font-size: 1.6rem;
      color: #fff;
    }
  }

  .item--medium {
    min-width: 400px;
  }

  .item--large {
    min-width: 620px;
  }
}

@media (max-width: $screen-lg) {
  .page-project__detail {
    align-items: flex-start;

    ul {
      width: 100%;
    }

    .item {
      margin: 0 5px 10px;
      width: calc(33.33% - 10px);
      min-width: unset;
    }

    .item--medium,
    .item--large {
      width: calc(50% - 10px);
    }
  }
}

@media (max-width: $screen-xs) {
  .page-project__detail {
    ul {
      flex-direction: column;
    }

    .item {
      width: 100%;
    }
  }
}
