.section-home {
  margin: 0 0 180px;
  display: flex;
  align-items: flex-start;
}

.section-home__content {
  margin-right: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .btn {
    margin-top: 40px;
  }
}

.section-home__image {
  min-width: 600px;
  position: relative;

  &:before {
    position: absolute;
    bottom: 30px;
    right: -20px;
    content: '';
    height: 100px;
    width: 300px;
    background: $color-brand;
  }

  img {
    margin: 0;
    width: 100%;
  }

  .icon {
    position: absolute;
    bottom: -25px;
    right: 40px;
    font-size: 120px;
    color: $color-secondary;
  }
}

.section-home__links {
  min-width: 600px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .animated-block {
    margin: 15px;
    width: calc(50% - 30px);
  }
}

.section-home--reverse {
  .section-home__content {
    margin-left: 80px;
  }

  .section-home__image {
    &:before {
      right: unset;
      left: -20px;
    }

    .icon {
      right: unset;
      left: 40px;
    }
  }
}

@media (max-width: $screen-md) {
  // .section-home,
  // .section-home--reverse {
  //   max-width: 600px;
  // }

  .section-home {
    margin: 0 0 70px;
    flex-direction: column-reverse;
  }

  .section-home--reverse {
    margin: 0 0 45px;
  }

  .section-home__image {
    margin-bottom: 40px;
    width: 100%;
    min-width: unset;

    &:before {
      right: -10px;
      bottom: 15px;
      height: 80px;
      width: 230px;
    }

    .icon {
      font-size: 95px;
    }
  }

  .section-home__content {
    margin: 0;
  }

  .section-home__links {
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 70px;
    min-width: unset;
    width: 100%;
  }

  .section-home--reverse,
  .section-home--mobile-reverse {
    flex-direction: column;

    .section-home__content {
      margin: 20px 0 0;
    }
  }
}

@media (max-width: $screen-sm) {
  .section-home {
    max-width: unset;
  }
}

@media(max-width: $screen-xs) {
  .section-home {
    max-width: unset;
  }

  .section-home--reverse {
    .section-home__image {
      &:before {
        left: -5px;
      }

      .icon {
        left: 20px;
      }
    }
  }

  .section-home__image {
    &:before {
      right: -5px;
      height: 50px;
      width: 130px;
    }

    .icon {
      right: 20px;
      bottom: -20px;
      font-size: 65px;
    }
  }

  .section-home__content {
    .btn {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 400px;
      justify-content: center;
    }
  }

  .section-home__links {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    flex-wrap: nowrap;

    .animated-block {
      margin: 5px 0;
      width: 100%;
    }
  }
}
