.social-post {
  margin: .25em;
  width: calc(50% - .5em);
  position: relative;
  font-family: 'antikor regular';
  font-size: 40px;
  color: var(--insta-foreground);
  line-height: 1.4;
  text-align: center;
  background: var(--insta-background);

  &:after {
    padding-bottom: 100%;
    content: '';
    display: block;
  }

  .content {
    padding: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &[data-theme="brand"] {
    --insta-background: #fff;
    --insta-foreground: #{$color-brand};
    --insta-separator: #{$color-brand};
  }

  &[data-theme="brand-reverse"] {
    --insta-background: #{$color-brand};
    --insta-foreground: #fff;
    --insta-separator: #fff;
  }

  &[data-theme="light-red"] {
    --insta-background: #{$color-tertiary};
    --insta-foreground: #fff;
    --insta-separator: #fff;
  }

  &[data-theme="pale"] {
    --insta-background: #{$color-secondary};
    --insta-foreground: #{$color-primary};
    --insta-separator: #{$color-tertiary};
  }

  &[data-theme="purple"] {
    --insta-background: #{$color-primary};
    --insta-foreground: #fff;
    --insta-separator: #{$color-brand};
  }

  &[data-theme="dark-blue"] {
    --insta-background: #{$color-dark};
    --insta-foreground: #fff;
    --insta-separator: #{$color-brand};
  }

  &[data-theme="light-blue"] {
    --insta-background: #{$color-info};
    --insta-foreground: #fff;
    --insta-separator: #{$color-light};
  }
}

.social-post__title {
  display: block;
  align-self: flex-start;
  color: var(--insta-foreground);
  text-align: left;
  white-space: nowrap;

  &:after {
    display: inline-block;
    font-family: 'faktum bold';
    color: var(--insta-separator);
    content: '_';
  }

  & + p {
    align-self: flex-start;
    text-align: left;
  }
}

h1.social-post__title { font-size: 1.4em; }
h2.social-post__title { font-size: 1.2em; }

.social-post__number {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'antikor regular';
  font-size: 3.2em;
  line-height: 1;
  text-align: center;

  &:after {
    margin-bottom: .2em;
    height: .2em;
    width: 75%;
    display: block;
    content: '';
    background-color: var(--insta-separator);
  }
}

.social-post__signature {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  font-size: .55em;

  :first-child {
    font-family: 'antikor bold';
  }
}
