.socials {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  li {
    &:before,
    &:after {
      display: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    border: none;

    .icon {
      margin-right: 17px;
      font-size: 21px;
      color: $color-brand;
    }
  }
}

.socials--inline {
  ul {
    flex-direction: row;
  }

  li {
    margin: 0 14px;

    &:first-of-type { margin-left: 0; }
    &:last-of-type { margin-right: 0; }
  }

  a {
    .icon {
      margin: 0;
      font-size: 24px;
    }
  }
}
