.statistics {
  padding: 60px 70px;
  font-family: 'faktum regular';
  font-size: 2rem;
}

.statistics__figure {
  margin-bottom: 30px;
  padding-bottom: 15px;
  width: 100%;
  display: block;
  font-family: 'antikor medium';
  font-size: 13rem;
  line-height: 1;
  text-align: center;
  border-bottom: solid 23px;
}

$statistics: primary   $color-secondary $color-secondary $color-primary   $color-brand,
             secondary $color-primary   $color-primary   $color-secondary $color-brand,
             info      $color-secondary $color-secondary $color-info      $color-light,
             dark      $color-secondary $color-secondary $color-dark      $color-primary;

@each $style, $text-color, $figure-color, $background-color, $dash-color in $statistics {
  .statistics--#{$style} {
    color: $text-color;
    background: $background-color;

    .statistics__figure {
      color: $figure-color;
      border-bottom-color: $dash-color;
    }
  }
}

@media (max-width: $screen-md) {
  .statistics {
    padding: 35px 25px;
  }

  .statistics__figure {
    font-size: 9rem;
    border-bottom: solid 18px;
  }
}
