.team {
  margin: 0;
  padding: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.team__member {
  margin: 0 20px 70px;
  display: flex;
  width: calc(33.33% - 40px);

  &:before,
  &:after {
    display: none;
  }

  a {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'antikor bold';
    font-size: 16px;
    line-height: 1.5;
    border: none;

    &:hover,
    &:active,
    &:focus {}

    img {
      margin: 0 0 15px;
      // height: 280px;
      // min-width: 290px;
    }

    .name {
      margin: 0 0 10px;
      font-family: 'faktum bold';
      font-size: 26px;
      color: $color-primary;
    }

    .job {
      color: $color-tertiary;
    }

    .certification {
      position: absolute;
      top: -25px;
      right: 25px;
    }
  }
}
