.team {
  margin: 0;
  margin-left: 110px;
  padding: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.team__member {
  margin: 0 20px 70px;
  display: flex;
  width: calc(33.33% - 40px);

  &::before,
  &::after {
    display: none;
  }

  a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'antikor bold';
    font-size: 16px;
    line-height: 1.5;
    border: none;

    &:hover,
    &:active,
    &:focus {
      .image {
        span {
          transform: scale(1.02);
          transform-origin: center;

          &::before { opacity: 1; }
        }
      }
    }

    .image {
      margin: 0 0 15px;
      width: 100%;
      height: 250px;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center !important;
      border: none;
      overflow: hidden;

      span {
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        transition: transform ease-in-out 0.4s;

        &::before {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          background-color: rgba(0, 0, 0, 0.15);
          opacity: 0;
          transition: opacity ease-in-out 0.4s;
        }
      }
    }

    .name {
      margin: 0 0 10px;
      font-family: 'faktum bold';
      font-size: 26px;
      color: $color-primary;
      line-height: 1.3;
    }

    .job {
      color: $color-tertiary;
    }

    .certification {
      position: absolute;
      top: -25px;
      right: 25px;
    }
  }
}

@media (max-width: $screen-md) {
  .team {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: $screen-sm) {
  .team__member {
    width: calc(50% - 40px);

    a {
      .certification {
        margin: 20px 0 0;
        position: static;
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .team {
    margin: 0;
  }

  .team__member {
    margin: 0 0 50px;
    width: 100%;
  }
}
