// Basic titles
h1, .h1 {
  margin: 0 0 30px 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'faktum bold';
  font-size: 58px;
  color: $color-brand;

  span {
    color: $color-primary;

    &:last-of-type {
      &:after {
        color: $color-brand;
        content: '_';
      }
    }
  }
}

h2, .h2 {
  margin: 50px 0 25px;
  position: relative;
  font-family: 'antikor bold';
  font-size: 32px;
  color: $color-primary;
  line-height: 1.45 !important;
}

h3 {
  margin: 20px 0;
  color: #1E7695;
  font-family: 'antikor bold';
  font-size: 20px;
  line-height: 1.25;
}

h4 {
  margin: 20px 0;
  color: $color-tertiary;
  font-family: 'antikor bold';
  font-size: 18px;
  line-height: 1.25;
}

h5,
h6 {
  margin: 20px 0;
  color: $color-dark;
  font-family: 'antikor bold';
  font-size: 18px;
  line-height: 1.25;
}

// Special titles
.h1--small {
  margin: 0;
  font-size: 36px;
}

.h2--dash {
  margin-top: 70px;
  padding-top: 65px;

  &:before {
    width: 50px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: $color-tertiary;
  }
}

.anchor-title {
  scroll-margin-top: 130px;

  a {
    position: relative;
    color: $color-primary;
    text-decoration: none;
    border: none;

    &:after {
      position: relative;
      left: 10px;
      bottom: -10px;
      color: $color-tertiary;
      content: '#';
      transform: translateY(-10px);
      opacity: 0;
      transition: opacity ease-in .15s, bottom ease-in .15s;
    }

    &:hover,
    &:focus,
    &:active {
      &:after {
        bottom: 0;
        opacity: 1;
      }
    }
  }
}

@media (max-width: $screen-md) {
  h1, .h1 {
    margin-left: 70px;
    margin-bottom: 70px;
  }

  h2, .h2 {
    padding-top: 40px;
  }
}

@media (max-width: $screen-sm) {
  h1, .h1 {
    margin-left: 40px;
    font-size: 50px;
  }

  .h2--dash {
    padding-top: 35px;
    font-size: 32px;
  }

  .anchor-title {
    scroll-margin-top: 50px;

    a {
      font-size: 24px;
    }
  }
}

@media (max-width: $screen-xs) {
  h1, .h1 {
    margin-bottom: 30px;
    font-size: 32px;
  }

  h2, .h2 {
    font-size: 18px;
    line-height: 1.6 !important;
  }
}
