.article-list {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  .miniature-inline {
    margin: 0 20px 80px;
  }
}

@media (max-width: $screen-lg) {
  .article-list {
    margin: 0;
  }
}
