.banner-ux-ui {
  display: flex;
  justify-content: space-between;
}

.banner-ux-ui__title {
  margin-left: 110px;
}

.banner-ux-ui__content {
  display: flex;
  /* position: relative; */
}

.spotlight {
  background: $color-dark;
  color: #fff;
  padding: 0 90px;
  display: flex;
  align-items: center;
  width: 620px;
}

.banner-ux-ui__image {
  background: url(https://via.placeholder.com/150);
  width: 1060px;
  background-repeat: no-repeat;
  background-size: cover;
}
