.banner-ux-ui {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 493px;
}

.banner-ux-ui__title {
  margin: 0 0 55px 110px;
}

.banner-ux-ui__content {
  display: flex;
  align-items: center;
  position: relative;
  background: $color-dark;
  color: #fff;
  padding: 0 90px;
  width: 620px;

  &:after {
    content: ']]';
    position: absolute;
    color: $color-light;
    font-family: 'antikor medium';
    font-size: 93px;
    bottom: -45px;
    right: 45px;
    line-height: 1;
  }
}

.banner-ux-ui__image {
  background: url(https://via.placeholder.com/150);
  width: 1060px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -405px;
  height: 440px;
}

@media (max-width: $screen-lg) {
  .banner-ux-ui {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
  }

  .banner-ux-ui__title {
    margin-left: 0;
  }

  .banner-ux-ui__content {
    display: none;
  }

  .banner-ux-ui__image {
    position: relative;
    bottom: unset;
    width: 100%;
  }
}

@media (max-width: $screen-xs) {
  .banner-ux-ui__image {
    height: 300px;
  }
}
