.brick-team {
  @extend .brick;
  @extend .brick--large;

  align-items: center;
  text-decoration: none;
  background: $color-secondary;

  .title {
    margin: 15px 0 5px;
    font-family: 'faktum bold';
    font-size: 46px;
    color: $color-dark;
  }

  .subtitle {
    font-family: antikor bold;
    font-size: 24px;
    color: $color-tertiary;
  }
}

@media (max-width: $screen-sm) {
  .brick-team {
    .title {
      margin: 10px 0;
      font-size: 22px;
    }

    .subtitle {
      font-size: 15px;
    }
  }
}
