.checkbox {
  margin-top: .5em;
  padding-left: 2.1em;

  code {
    background-color: transparent;
    color: $color-light;
    font-family: Courier, monospace;
    white-space: unset;
  }

  pre {
    background-color: transparent !important;
    padding: 5px;
  }


  div {
    padding: .5em; 
    display: flex;
    background-color: $color-dark ;
  } 
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  position: relative;
  font-size: 1em;
  line-height: 1.3;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: -35px;
    cursor: pointer;
  }
}

.checkbox__input:checked + .checkbox__label {
  &::after {
    font-family: 'icomoon';
    content: '\e918';
    position: absolute;
    left: -32px;
    font-size: 16px;
    top: 2px;
    color: $color-dark;
  }
}