.header {
  height: 120px;
  display: flex;
  align-items: center;
  background: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    border: none;
  }
}

@media(max-width: $screen-sm) {
  .header {
    margin: 10px 0 30px;
    height: 60px;
  }
}
