.logo {
  width: 95px;

  path,
  rect {
    fill: $color-brand;
  }
}

.logo--animated {
  @for $i from 1 through 4 {
    path:nth-child(#{$i}) {
      opacity: 0;
      animation: fade 0 both;
      animation: fade 0 both;
      animation-delay: #{$i / 10}s;
      animation-iteration-count: 1;
    }
  }

  rect {
    transform: translateX(-240px);
    animation: type 0.4s ease-in both;
    animation: type 0.4s ease-in both;
  }
}

@media (max-width: $screen-sm) {
  .logo {
    width: 75px;
  }
}

@keyframes fade {
  0% { opacity: 0; }
  60% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframe fade {
  0% { opacity: 0; }
  60% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes type {
  0% { transform: translateX(-240px); }
  20% { transform: translateX(-240px); }
  40% { transform: translateX(-191px); }
  60% { transform: translateX(-137px); }
  80% { transform: translateX(-63px); }
  100% { transform: translateX(0); }
}

@keyframe type {
  0% { transform: translateX(-240px); }
  20% { transform: translateX(-240px); }
  40% { transform: translateX(-191px); }
  60% { transform: translateX(-137px); }
  80% { transform: translateX(-63px); }
  100% { transform: translateX(0); }
}
