.process {
  padding: 35px 25px;
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 12;
  font-family: 'antikor regular';
  color: $color-primary;
  background: $color-secondary;
}

.process__item {
  margin-right: 15px;
  padding-right: 25px;
  white-space: nowrap;

  &::before {
    display: none;
  }

  &::after {
    top: 50%;
    right: 0;
    left: unset;
    height: unset;
    width: unset;
    font-family: 'antikor bold';
    color: $color-brand;
    content: '>';
    background: transparent;
    transform: translateY(-50%);
  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }
}

@media (max-width: $screen-md) {
  .process {
    margin: 0;
    grid-column: 1 / 13;
  }
}
