.question {
  margin-bottom: 2em; 

  .question__content {
    line-height: .5;
  }

  p {
    margin-bottom: 1em; 
  }
}

.question__info {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #373737;
  font-family: 'faktum medium';
  padding: 1em 2em;
  margin-top: 2em;
  font-size: 18px;

  span {
    padding: .3em;
    font-family: faktum bold;
    color: $color-danger;
  }

  .solution {
    font-family: faktum regular;
    color: unset;
  }

  code {
    font-size: 15px;
    padding: 0 .3em .25em;  
    border-radius: 8px; 
  }
}

.question--answered {
  .question__content {
    padding-left: 20px;
  }
}

.question--success {
  .question__content {
    border-left: solid 4px #00cc99;
    
  }  
}

.question--error {
  .question__content {
    border-left: solid 4px $color-danger;
    
  }  
}