.question {
  margin-bottom: 2em;

  p {
    margin-bottom: 1em; 
  }
}

.question__info {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: $color-dark;
  font-family: 'faktum regular';
  padding: 1em 2em;
  margin-top: 2em;
  font-size: 18px;

  .title {
    color: $color-danger;
    font-family: 'faktum bold';
  }
  
  code {
    font-size: 15px;
    padding: .2em;
    margin: 0 0 .3em;
    border-radius: 8px;
  }
}

.question--answered {
  .question__content {
    padding-left: 20px;
  }
}

.question--success {
  .question__content {
    border-left: solid 4px $color-success;
  }  
}

.question--error {
  .question__content {
    border-left: solid 4px $color-danger;
  }  
}