.quiz {   
  display: flex; 
  flex-direction: column;
  background-color: $code-background;
  padding: 1em 2em; 
}

.quiz__details {
  display: flex;
  flex: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;

  p {
    color: #fff;
    font-size: 1em; 
    font-family: antikor bold;
    padding: 1em 3em;
    min-height: 4em;
    background-color: $color-brand;
  }
}
