.quiz {   
  display: flex; 
  flex-direction: column;
  background-color: $color-dark;
  padding: 8.7em 6.2em; 
  color: #fff;
}

.quiz__title  {
  display: flex;
  flex-direction: column;
  font-size: 2.9em;
  font-family: 'faktum bold';
  color: $color-light;
  line-height: 1.2;
  margin-bottom: 0.8em;
}
  
.quiz__submit {
  display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 2em;

  button {
    color: #fff;
    font-size: .95em; 
    font-family: 'antikor bold';
    padding: 1em 2.5em;
    background-color: $color-light;
  }
}

.quiz__answer {
  margin-top: .8em;
  color: #fff;
  padding: 0 .3em;
}

.quiz__score {
  display: flex;
  flex: wrap;
  width: 150px;
  align-self: center;
  align-items: center;
  flex-direction: column;
  font-family: 'faktum bold';
  color: $color-light;

  strong {
    line-height: 1;
    font-size: .7em;
  }
  
  .emoji {
    font-size: 2.7em; 
    margin: .3em; 
  }

  .percentage {
    font-size: 3em;
  }
}