.radio {
  margin-top: .5em;
  padding-left: 2.1em;
}

.radio__input {
  display: none;
}

.radio__label {
  position: relative;
  font-size: 1em;
  line-height: 1.3;

  &::before {
    content: '';
    height: 22px; 
    width: 22px; 
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: -37px;
    cursor: pointer;
  }
}

.radio__input:checked + .radio__label {
  &::after {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: $color-dark;
    left: -33px;
    top: 6px;
  }
}