.radio {
  margin-bottom: .9em;
  padding-left: 1.9em;
  color: #fff;

  code {
    font-size: 15px;
    background-color: #fff; 
    color: $color-dark;
    padding: .2em;
    border-radius: 8px; 
  }

  pre {
    margin: 0;
    width: 100%;
    background-color: #fff !important;
    padding: .5em; 
    border-radius: 10px; 
  }

  div {
    display: flex;
    background-color: $color-dark ;
    margin: .3em;
  } 
}

.radio__input {
  display: none;
}

.radio__label {
  position: relative;
  font-size: .8em;
  line-height: 1.3;

  &::before {
    content: '';
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: -37px;
    cursor: pointer;
    background-color: #fff;
  }
}

.radio__input:checked + .radio__label {
  &::after {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #0d3a5a;
    left: -35px;
    top: 3px;
  }
}