.section-home {
  margin: 0 0 180px;
  display: flex;
}

.section-home__content {
  margin-left: 110px;
  margin-right: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $color-text;
  font-size: 20px;
  line-height: 32px;

  h2 {
    margin-top: 0;
  }

  .dash {
    width: 50px;
    height: 12px;
    position: absolute;
    top: -50px;
    left: 0;
    background: $color-tertiary;
  }

  .btn {
    margin-top: 40px;
  }
}

.section-home__image {
  min-width: 600px;
  position: relative;

  &::before {
    position: absolute;
    bottom: 40px;
    right: -20px;
    content: '';
    height: 100px;
    width: 300px;
    background: $color-brand;
  }

  img {
    margin: 0;
    width: 100%;
  }

  .icon {
    position: absolute;
    bottom: -25px;
    right: 40px;
    font-size: 120px;
    color: $color-secondary;
  }
}

.section-home__links {
  min-width: 600px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .animated-block {
    margin: 15px;
    width: calc(50% - 30px);
  }
}

.section-home--reverse {
  .section-home__content {
    margin-right: 110px;
    margin-left: 40px;
  }

  .section-home__image {
    &::before {
      right: unset;
      left: -20px;
    }

    .icon {
      right: unset;
      left: 40px;
    }
  }
}

@media (max-width: $screen-md) {
  .section-home {
    margin: 0 0 60px;
    flex-direction: column-reverse;
  }

  .section-home__image {
    margin: 0 0 40px;
    width: 100%;
    min-width: unset;

    &::before {
      right: -10px;
      bottom: 15px;
      height: 80px;
      width: 230px;
    }

    .icon {
      font-size: 95px;
    }
  }

  .section-home__content {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;

    .btn {
      margin: 20px auto 0;
      width: 100%;
      max-width: 400px;
      justify-content: center;
    }

    .dash {
      top: 0;
    }
  }

  .section-home__links {
    margin-top: 0;
    margin-bottom: 40px;
    min-width: unset;
    flex-wrap: nowrap;
    flex-direction: column;

    .animated-block {
      margin: 5px 0;
      width: 100%;
    }
  }

  .section-home--reverse,
  .section-home--mobile-reverse {
    flex-direction: column;

    .section-home__content {
      margin: 20px 0 0;
    }
  }
}

@media(max-width: $screen-xs) {
  .section-home {
    margin: 0 0 40px;
  }

  .section-home--reverse {
    margin: 0;

    .section-home__image {
      &::before {
        left: -5px;
      }

      .icon {
        left: 20px;
      }
    }
  }

  .section-home__image {
    &::before {
      right: -5px;
      height: 50px;
      width: 130px;
    }

    .icon {
      right: 20px;
      bottom: -20px;
      font-size: 65px;
    }
  }

  .section-home__content {
    .btn {
      width: 100%;
      max-width: unset;
    }
  }
}
