.social-post-generator {
  display: flex;
  flex-direction: column-reverse;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1em;

    select {
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background: #eee;
      cursor: pointer;

      font-family: 'faktum regular';
      font-size: 16px;
      line-height: 1;
      height: 2em;
      padding: 0 0.5em;
      margin: 0.25em 0;
      overflow: hidden;
      border-radius: 0.25em;
      font-family: 'faktum regular';
    }
  }

  .social-post {
    width: 100%;
  }
}

.social-post--list {
  display: flex;
  font-size: 20px;
  padding: 0.25em;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  flex-wrap: wrap;

  .social-post {
    width: calc(50% - 1em);
    margin: 0.5em;
    font-size: 24px;
  }
}

.social-post {
  overflow: hidden;
  font-size: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5em;
  margin: 0;
  background: var(--social-background);

  &[data-format='square'] {
    aspect-ratio: 1 / 1;
  }

  &[data-format='landscape'] {
    aspect-ratio: 1200 / 630;
  }

  &[data-format='portrait'] {
    aspect-ratio: 1080 / 1350;
  }

  > * {
    padding: 0;
    margin: 0;
  }

  &,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--social-foreground);
  }

  h1 { font-size: 2.8em; }
  h2 { font-size: 2.4em; }
  h3 { font-size: 2em; }
  h4 { font-size: 1.6em; }
  h5 { font-size: 1.2em; }
  h6 { font-size: 1.2em; }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    white-space: nowrap;
    align-self: flex-start;
    text-align: left;
    padding: 0;
    margin: 0;

    & + p {
      text-align: left;
      align-self: flex-start;
    }
  }

  .carret::after {
    display: inline-block;
    content: '_';
    color: var(--social-separator);
    font-family: 'faktum bold';
  }

  p {
    font-family: 'antikor regular';
    font-size: 2em;
    line-height: 1.4;
    text-align: center;
  }

  blockquote {
    font-family: 'antikor regular';
    font-size: 2em;
    line-height: 1.4;
    text-align: center;
    color: var(--social-foreground);

    &::before {
      top: -0.1em;
      left: -0.3em;
      font-size: 6em;
      color: var(--social-separator);
      opacity: 0.1;
    }
  }

  cite {
    margin-top: 2em;
    display: flex;
    flex-direction: column;

    > * {
      text-align: center;
    }

    > :first-child {
      font-family: 'antikor bold';
    }
  }

  .number {
    font-size: 8em;
    font-family: 'antikor regular';
    line-height: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      content: ' ';
      display: block;
      height: 0.2em;
      width: 75%;
      background-color: var(--social-separator);
      margin-bottom: 0.2em;
    }
  }

  .number + p {
    font-size: 1.2em;
    font-family: 'antikor bold';
  }

  &[data-theme='brand'] {
    --social-background: #fff;
    --social-foreground: #{$color-brand};
    --social-separator: #{$color-brand};
  }

  &[data-theme='brand-reverse'] {
    --social-background: #{$color-brand};
    --social-foreground: #fff;
    --social-separator: #fff;
  }

  &[data-theme='light-red'] {
    --social-background: #{$color-tertiary};
    --social-foreground: #fff;
    --social-separator: #fff;
  }

  &[data-theme='pale'] {
    --social-background: #{$color-secondary};
    --social-foreground: #{$color-primary};
    --social-separator: #{$color-tertiary};
  }

  &[data-theme='purple'] {
    --social-background: #{$color-primary};
    --social-foreground: #fff;
    --social-separator: #{$color-brand};
  }

  &[data-theme='dark-blue'] {
    --social-background: #{$color-dark};
    --social-foreground: #fff;
    --social-separator: #{$color-brand};
  }

  &[data-theme='light-blue'] {
    --social-background: #{$color-info};
    --social-foreground: #fff;
    --social-separator: #{$color-light};
  }
}
