a {
  color: $color-info;
  text-decoration: none;
  transition: color ease-in .1s;
  position: relative;
  cursor: pointer;
  word-wrap: break-word;

  &:hover,
  &:active,
  &:focus {
    color: $color-dark;
  }
}

a:not([href]) {
  cursor: initial;
}
