code,
pre {
  font-family: 'antikor regular';
  white-space: break-spaces;
  // color: rgba(255, 255, 255, .8);
  // background: #272822;

  &[class*="language-"],
  [class*="language-"] {
    padding: 0;
    font-family: $code-font;
    font-size: 18px;
    color: #7f1A55;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    overflow: auto;
    tab-size: 4;
    hyphens: none;
    background: $code-background;
  }
}

.code-multiline {
  margin: 30px 0 !important;
  padding: 20px 30px !important;
  font-size: 14px;
}

.code-inline {
  padding: 5px 10px;
  font-family: 'antikor regular';
  color: $color-primary;
  background: $color-secondary;
  border-radius: 5px;
}

.aside-note {
  padding: 5px 20px !important;
  border-color: $color-dark !important;
}

.inline-code {
  background-color: rgba($color-brand, 0.4);
  border-radius: 0.2em;
  padding: 0 0.2em;
  font-size: 0.9em;
  font-family: $code-font;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.inserted,
.token.punctuation,
.token.operator,
.token.property,
.token.selector,
.token.delimiter,
.token.class-name,
.token.function-name,
.token.function {
  color: $code-primary;
}

.token.constant,
.token.symbol,
.token.variable,
.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: $code-tertiary;
}

.token.boolean,
.token.number,
.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.entity,
.token.url {
  color: $code-info;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
