ul {
  margin: 0 0 25px;
  padding-left: 35px;
  list-style: none;

  li {
    margin: 0 0 5px;
    position: relative;

    &:before,
    &:after {
      position: absolute;
      content: '';
      border-radius: 50px;
    }

    &:before {
      top: 7px;
      left: -35px;
      height: 16px;
      width: 16px;
      background: #fff;
      border: solid 1px $color-secondary;
    }

    &:after {
      top: 13px;
      left: -29px;
      height: 6px;
      width: 6px;
      background: $color-brand;
    }
  }
}
