a {
  color: unset;
  text-decoration: none;
  transition: color ease-in 0.1s;
  position: relative;
  border-bottom: solid 3px $color-brand;
  cursor: pointer;
  word-wrap: break-word;

  &:hover,
  &:active,
  &:focus {
    color: $color-brand;
  }
}

a:not([href]) {
  cursor: initial;
}
