blockquote {
  margin: 60px 0;
  padding: 0;
  position: relative;
  font-family: 'antikor regular';
  font-size: 28px;
  color: $color-text;
  line-height: 1.4;

  &::before {
    position: absolute;
    top: -15px;
    left: -110px;
    font-family: 'icomoon';
    font-size: 60px;
    color: $color-brand;
    content: '\e911';
    line-height: 1;
  }

  cite {
    margin-top: 15px;
    display: block;
  }
}

blockquote:nth-of-type(even),
.blockquote-secondary {
  padding: 70px 70px 60px;
  background: $color-primary;
  color: #fff;
  font-family: 'faktum regular';
  font-size: 20px;
  line-height: 1.6;

  &::before {
    top: -45px;
    left: 40px;
    font-size: 65px;
  }

  cite {
    font-family: 'faktum bold';
    font-size: 16px;
    font-style: normal;
    text-align: right;
  }
}

@media (max-width: $screen-md) {
  blockquote {
    margin: 100px 0;
    padding: 40px 30px 0;

    &::before {
      top: -45px;
      left: 0;
      font-size: 45px;
    }
  }

  blockquote:nth-of-type(even) {
    margin: 100px 0 60px;
    padding: 60px 30px 30px;

    &::before {
      top: -40px;
      left: 30px;
      font-size: 60px;
    }
  }
}

@media (max-width: $screen-xs) {
  blockquote {
    font-size: 20px;
    line-height: 1.8;
  }

  blockquote:nth-of-type(even) {
    line-height: 1.6;
  }
}
