#index:
#    path: /
#    controller: App\Controller\DefaultController::index

twitter:
    schemes: https
    host: twitter.com
    resource: routes/external/twitter.yaml
    options:
        stenope:
            ignore: true

errors_404:
    path: 404.html
    controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
    defaults:
        template: errors/404.html.twig
    options:
        stenope:
            sitemap: false
