{% import "macros.html.twig" as macros %}
{% extends 'blog/index.html.twig' %}

{% set noindex = true %}

{% block content %}
    <div class="container">
        {{ macros.breadcrumb([
            { path: path('homepage'), label: 'Accueil' },
            { path: path('blog'), label: 'Blog' },
            { path: '#', label: path|u.camel.title  },
        ]) }}

        {{ block('articles') }}
    </div>

    {% include 'blog/pagination.html.twig' with {
        route: 'blog_articles_from_path_page',
        minPageRoute: 'blog_articles_from_path',
        routeParams: { path }
    } %}
{% endblock content %}
