{% import "macros.html.twig" as macros %}
{% extends 'blog/index.html.twig' %}

{% set noindex = true %}

{% block content %}
    <div class="container">
        {#
            The following code builds a breadcrumb trail for the article.
            `parentPaths` is an array of the path segments of the article's URL, excluding the article's title.
            It's used to build each intermediate breadcrumb link, reflecting the directory structure.
            The last item (`lastPath`) in the breadcrumb is the current page, so we render an empty link (#).
        #}
        {% with {
            parentPaths: path|split('/')[0:-1],
            lastPath: path|split('/')|last,
        } %}
            {{ macros.breadcrumb([
                { path: path('homepage'), label: 'Accueil' },
                { path: path('blog'), label: 'Blog' },
                ...parentPaths|map((p, i) =>
                    {
                        path: path('blog_articles_from_path', {
                            path: [...parentPaths[0:i], p]|join('/') }
                        ),
                        label: p|u.camel.title
                    },
                ),
                { path: '#', label: lastPath|u.camel.title  },
            ]) }}
        {% endwith %}

        {{ block('articles') }}
    </div>

    {% include 'blog/pagination.html.twig' with {
        route: 'blog_articles_from_path_page',
        minPageRoute: 'blog_articles_from_path',
        routeParams: { path }
    } %}
{% endblock content %}
