.page-home {
  .banner {
    margin-bottom: 220px;
    position: relative;
  }

  .banner__content {
    padding: 0 110px;
    height: 310px;
    width: 950px;
    display: flex;
    align-items: center;
    font-family: antikor regular;
    font-size: 32px;
    color: #fff;
    background: $primary;

    p {
      width: 510px;
    }
  }

  .banner__image {
    position: absolute;
    top: -250px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    figure {
      margin: 0 0 22px;
      position: relative;
      display: flex;

      figcaption {
        padding: 20px 25px;
        height: 120px;
        width: 220px;
        position: absolute;
        bottom: 20px;
        left: 22px;
        display: flex;
        flex-direction: column;
        font-family: faktum regular;
        font-size: 18px;
        color: $primary;
        background: $tertiary;

        span {
          margin: 0 0 11px;
          font-family: antikor bold;
          color: $secondary;
        }
      }
    }
  }

  .banner__list {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -220px;
    left: 200px;
    display: flex;
    list-style: none;

    li {
      margin: 0 20px;
      padding: 44px 30px;
      height: 260px;
      width: 290px;
      display: flex;
      flex-direction: column;
      font-family: faktum regular;
      font-size: 20px;
      color: $primary;
      background: $tertiary;

      .number {
        font-family: antikor medium;
        color: $secondary;
        font-size: 76px;
      }

      small {
        font-size: 16px;
      }

      a {
        margin-top: auto;
        margin-left: auto;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-family: antikor bold;
        font-size: 18px;
        color: $secondary;
      }
    }
  }

  .section {
    margin: 0 0 100px;
    display: flex;
  }

  .section__content {
    margin-left: 110px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $text;
    font-size: 20px;
    line-height: 32px;

    .btn {
      margin-top: auto;
    }
  }

  .section__image {
    min-width: 600px;
    position: relative;

    &:before {
      position: absolute;
      bottom: 40px;
      right: -20px;
      content: '';
      height: 100px;
      width: 300px;
      background: $primary;
    }

    img {
      width: 100%;
    }

    .icon {
      position: absolute;
      bottom: -25px;
      right: 40px;
      font-size: 120px;
      color: $tertiary;
    }
  }

  .section--reverse {
    .section__content {
      margin-right: 110px;
      margin-left: 40px;
    }
  }

  .section__image {
    &:before {
      right: unset;
      left: -20px;
    }

    .icon {
      right: unset;
      left: 40px;
    }
  }

  .technologies {
    margin: 40px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .technologies__item {
    margin: 0 0 40px;
    min-width: 190px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    color: #000;

    img {
      margin-right: 20px;
      width: 45px;
    }
  }
}
