.page-values {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  h2 {
    grid-column: 2 / 13;
  }

  .offset-content {
    grid-column: 3 / 12;
  }

  blockquote {
    grid-column: 1 / 12;
  }

  .humility,
  .generosity {
    p {
      margin: 0 0 30px;
    }
  }

  .manifest {
    margin: 70px 0 20px;
    grid-column: 1 / 13;
  }

  .value-item {
    margin-top: 90px;
    display: flex;
    align-items: flex-start;
    grid-column: 1 / 12;
  }

  .value-item__image {
    margin: 0;
    margin-right: 60px;
    min-width: 390px;
    width: 390px;
  }

  .value-item__content {
    h3 {
      margin-top: 0;
    }

    ul {
      margin: 0;

      li {
        margin: 0 0 30px;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: $screen-md) {
  .page-values {
    h2 {
      grid-column: 1 / 13;
    }

    .offset-content {
      grid-column: 1 / 13;
    }

    .list-inline__item {
      margin: 0 0 20px;
    }

    blockquote {
      grid-column: 1 / 13;
    }

    .value-item {
      grid-column: 1 / 13;
    }

    .value-item__image {
      margin-right: 40px;
      min-width: 280px;
      width: 280px;
    }
  }
}

@media (max-width: $screen-sm) {
  .page-values {
    .manifest {
      margin: 20px 0;
    }
  }
}

@media (max-width: $screen-xs) {
  .page-values {
    .value-item {
      margin-top: 40px;
      flex-direction: column-reverse;
    }

    .value-item__image {
      margin-top: 40px;
      width: 100%;
      min-width: unset;
    }
  }
}
