.page-job-posting {}

.page-job-posting__content {
  padding-left: 200px;

  p {
    margin: 0 0 30px;
  }
}

@media (max-width: $screen-md) {
  .page-job-posting__content {
    padding-left: 0;
  }
}
