.page-projects {
  .banner__content {
    .highlight {
      .icon {
        font-size: 110px;
        color: $color-secondary;
      }
    }
  }

  .article-list {
    margin: 0 auto;
    max-width: 1060px;
  }
}

@media (max-width: $screen-xs) {
  .page-projects {
    .banner__content {
      .highlight {
        .icon {
          font-size: 65px;
        }
      }
    }
  }
}
