.page-methodology {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;

  .process {
    grid-column: 2 / 13;
  }

  .character {
    background-image: url(../../images/pages/methodology/character.png);
    width: 70px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  }

  .h2--dash,
  .h2--ordered {
    grid-column: 2 / 13;
  }

  .steps {
    grid-column: 2 / 13;
    margin-bottom: 40px;

    h3 {
      span {
        color: $color-brand;
        font-size: 50px;
        margin-right: 20px;
      }
    }

    .before-project {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      padding-bottom: 80px;
      &__content {
        width: 50%;
        padding-bottom: 40px;
        position: relative;
        .path {
          position: absolute;
          left: -60px;
          top: 0;
          width: 2px;
          height: 100%;
          background-color: $color-dark;
        }
        .character {
          top: 0;
          left: -60px;
          transform: translateX(-50%);
        }
      }

      &__steps {
        background-color: $color-brand;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 0;
        color: white;
        padding: 40px;
        position: relative;
      }

      .step {
        &__title {
          h4 {
            display: flex;
            align-items: center;
            gap: 20px;
            color: white;
            .icon {
              font-size: 40px;
            }
          }
        }
      }
    }

    .build {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 60px;
      grid-row-gap: 0;
      margin-bottom: 80px;
      position: relative;
      .path {
        position: absolute;
        top: -80px;
        left: 80%;
        width: 2px;
        height: 100%;
        background-color: $color-dark;
      }
      .character {
        top: -80px;
        left: 80%;
        transform: translateX(-50%);
      }

      &__steps {
        background-color: $color-dark;
        color: white;
        height: fit-content;
        margin: auto 0 -80px auto;
        padding: 40px 60px;
        position: relative;
        z-index: 3;

        li {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-bottom: 30px;
          i {
            font-size: 40px;
          }
          &:before, &:after {
            display: none;
          }
        }
      }
    }

    .deployment {
      display: grid;
      grid-template-columns: repeat(13, 1fr);

      & > div {
        grid-area: 1 / 4 / 2 / 14;
        position: relative;
        padding-bottom: 80px;
        .path {
          position: absolute;
          top: -20px;
          left: -100px;
          width: 60%;
          height: 2px;
          background-color: $color-dark;
        }
        .character {
          top: -20px;
          left: 100px;
          transform: translateY(-50%);
          z-index: 2;
        }
        .character2 {
          top: 0;
          left: -100px;
          transform: translateX(-50%);
          background-image: url(../../images/pages/methodology/character.png);
          width: 70px;
          height: 100px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
        }
        .path2 {
          position: absolute;
          top: -20px;
          left: -100px;
          width: 2px;
          height: calc(100% + 20px);
          background-color: $color-dark;
        }
      }

    }

    .run {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      position: relative;

      &__content {
        width: 50%;
      }

      &__steps {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        margin-bottom: 20px;

        .step {
          background-color: $color-primary;
          padding: 20px 30px;
          color: white;
          &:first-child {
            grid-area: 1 / 1 / 2 / 5;
          }
          &:nth-child(2) {
            grid-area: 1 / 5 / 2 / 9;
          }
          &:last-child {
            grid-area: 1 / 9 / 2 / 13;
          }
          &__title {
            h4 {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              gap: 20px;
              color: white;
              .icon {
                font-size: 40px;
              }
            }
          }
        }
      }
    }
  }

  .offset-content {
    grid-column: 3 / 12;
  }

  .tools {
    margin: 60px 0;
    display: flex;
    align-items: center;
    grid-column: 2 / 13;
  }

  .tools__image {
    margin-left: 40px;
    min-width: 620px;
    position: relative;

    &:before {
      height: 60px;
      width: 290px;
      position: absolute;
      top: -40px;
      right: 40px;
      content: '';
      background: $color-secondary;
      z-index: -1;
    }

    img {
      margin: 0;
    }
  }

  .list-inline {
    grid-column: 3 / 12;
  }
}

@media (max-width: $screen-md) {
  .page-methodology {
    column-gap : unset;

    .h2--dash,
    .h2--ordered {
      grid-column: 1 / 13;
    }

    .path, .character, .character2 {
      display: none !important;
    }

    .steps {
      grid-column: 1 / 13;
      .before-project {
        padding-bottom: 40px;
        &__content {
          width: 100%;
          padding-bottom: 0;
        }
        &__steps {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: auto;
          padding: 20px;
        }
      }

      .build {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        &__steps {
          padding: 40px;
        }
      }

      .deployment {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;

        & > div {
          padding-bottom: 0;
        }
      }

      .run {
        &__content {
          width: 100%;
        }

        &__steps {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: auto;
          grid-row-gap: 20px;
          .step {
            grid-area: auto !important;
            grid-column: span 13;
            width: 100%;
          }
        }
      }
    }

    .process {
      grid-column: 1/13;
    }

    .tools {
      flex-direction: column;
      align-items: flex-start;
      grid-column: 1 / 13;
    }

    .tools__image {
      display: none;
    }

    .list-inline {
      grid-column: 1 / 13;
    }


    .list-inline__item {
      img {
        margin: 0 0 20px;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .page-methodology {
    .offset-content {
      grid-column: 1 / 13;
    }
  }
}
