.page-study-case {
  .banner {
    padding-bottom: 320px;
  }

  .preview {
    position: absolute;
    bottom: -250px;
    left: 0;
    display: flex;
    align-items: flex-end;

    img {
      margin: 0;
      width: 100%;
    }
  }

  .preview__main {
    margin-right: 30px;
    width: 600px;
  }

  .preview__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        &:before,
        &:after { display: none; }

        &:first-of-type { margin-left: 0; }
        &:last-of-type { margin-right: 0; }

        margin: 0 15px 30px;
        width: 240px;
      }
    }
  }
}

@media (max-width: $screen-lg) {
  .page-study-case {
    .banner {
      padding-bottom: 40px;
    }

    .preview {
      margin-top: 60px;
      width: 100%;
      position: static;
      flex-direction: column;
      align-items: unset;
    }

    .preview__main {
      margin: 0 0 10px;
      width: 100%;
    }

    .preview__list {
      ul {
        display: none;
      }

      .btn {
        width: 100%;
        justify-content: center;
      }
    }
  }
}


.block-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.block-list__item {
  &:before,
  &:after { display: none; }

  margin: 0 20px 40px;
  padding: 35px 40px;
  width: 290px;
  min-width: 290px;
  font-family: 'antikor bold';
  font-size: 26px;
  color: $color-light;
  background: $color-dark;

  small {
    margin: 0 0 20px;
    display: block;
    font-family: 'faktum regular';
    font-size: 16px;
    color: #fff;
  }
}

.block-list__item--medium {
  min-width: 400px;
}

.block-list__item--large {
  min-width: 620px;
}

@media (max-width: $screen-lg) {
  .block-list {
    align-items: flex-start;

    ul {
      width: 100%;
    }
  }

  .block-list__item {
    margin: 0 5px 10px;
    width: calc(33.33% - 10px);
    min-width: unset;
  }

  .block-list__item--medium,
  .block-list__item--large {
    width: calc(50% - 10px);
  }
}

@media (max-width: $screen-xs) {
  .block-list {
    ul {
      flex-direction: column;
    }
  }

  .block-list__item {
    width: 100%;
  }
}
