.page-ia-brief {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__iframe {
    margin-bottom: 40px;
    position: relative;
    width: 100%;

    iframe {
      height: 100vh;
      width: 100%;
      z-index: 1;
      border: 0;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    text-align: center;
    padding: 10% 10% 0 10%;

    &__content {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;

      h3 {
        color: white;
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .page-ia-brief {
    .overlay {
      padding: 5% 5% 0 5%;
      font-size: 15px;
    }
  }
}
