.page-home {
  .content-carousel {
    width: 100%;
  }

  .h2--dash {
    margin-top: 0;
  }

  .section {
    margin: 0 0 100px;
    display: flex;
  }

  .illustrated-section__content {
    margin-right: 0;
  }

  .section__content {
    margin-left: 110px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $color-text;
    font-size: 20px;
    line-height: 32px;

    .btn {
      margin-top: 40px;
    }
  }

  .section__image {
    min-width: 600px;
    position: relative;

    &:before {
      position: absolute;
      bottom: 40px;
      right: -20px;
      content: '';
      height: 100px;
      width: 300px;
      background: $color-brand;
    }

    img {
      margin: 0;
      width: 100%;
    }

    .icon {
      position: absolute;
      bottom: -25px;
      right: 40px;
      font-size: 120px;
      color: $color-secondary;
    }
  }

  .section__links {
    min-width: 600px;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .animated-block {
      margin: 15px;
      width: calc(50% - 30px);
    }
  }

  .section--reverse {
    .section__content {
      margin-right: 110px;
      margin-left: 40px;
    }

    .section__image {
      &:before {
        right: unset;
        left: -20px;
      }

      .icon {
        right: unset;
        left: 40px;
      }
    }
  }

  .section__techno {
    display: flex;
    flex-direction: column;

    & > a {
      width: fit-content;
      margin: 20px 0 0 auto;
    }
    .illustration {
      display: flex;
      align-items: center;
      gap: 20px;
      margin: 20px auto 40px auto;
      font-size: 80px;
      color: $color-primary;
      img {
        margin: 0;
      }
    }
  }

  .carousel-container {
    max-width: 100%;

    .carousel-item {
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: $color-secondary;

      &:first-child {
        .logo {
          background-color: #FFCA26;
        }
      }

      &:nth-child(2) {
        .logo {
          background-color: #04566B;
        }
      }

      &:nth-child(3) {
          .logo {
          background-color: #009EFF;
          }
      }

      .logo {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 70%;
          margin: 0;
        }
      }

      blockquote {
        margin: 0;
        background-color: $color-secondary;
        color: $color-text;
        width: 90%;
        z-index: 2;
        font:{
          family: "antikor regular";
          size: 18px;
          weight: bold;
        }

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }

        &:before {
          right: 10px;
          top: -25px;
          left: 40px;
          font-size: 95px;
          transform: rotate(180deg);
        }
      }
    }
  }

  section {
    &:first-of-type {
      .illustrated-section__content {
        width: 70%;
      }

      .illustrated-section__image {
        max-width: 50%;
        min-width: inherit;

        &:before {
          top: 30px;
          width: 200px;
          right: 20px;
        }

        &:after {
          content: '';
          bottom: -130px;
          width: 320px;
          left: 30px;
          height: 170px;
          background-color: $color-brand;
          position: absolute;
          z-index: -1;
        }

        .icon {
          top: 80px;
        }

        img {
          &:last-of-type {
            width: 80%;
            margin: -90px auto;
          }
        }
      }
    }
  }
}

.illustrated-section__image {
  &.bandeau {
    max-height: 400px;

    img {
      max-height: 400px;
      object-fit: cover;
    }
  }
}

@media (max-width: $screen-md) {
  .page-home {
    .section__content,
    .section--reverse {
      margin-right: 80px;
      margin-left: 40px;
    }

    .section__image,
    .section__links {
      min-width: 450px;
    }

    .section__links {
      flex-wrap: nowrap;
      flex-direction: column;

      .animated-block {
        margin: 5px 0;
        width: 100%;
      }
    }

    .banner-home {
      .image {
        display: none;
      }
    }

    .illustrated-section {
      .images {
        display: none;
      }

      .illustrated-section__content {
        width: 100% !important;
      }
    }

    .carousel-container {
      .carousel-item {
        .logo {
          display: none;
        }

        blockquote {
          padding: 5%;
          float: none;
          font-size: 18px;
          width: 100%;
          margin-bottom: 0;

          > p {
            font-size: 16px;
            min-height: inherit;
          }

          &:before {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .page-home {
    .section {
      margin: 0 0 60px;
      flex-direction: column-reverse;
    }

    .section__image {
      margin: 0 0 40px;
      width: 100%;
      min-width: unset;

      &:before {
        bottom: 30px;
        height: 70px;
        width: 170px;
      }

      .icon {
        font-size: 95px;
        right: 10px;
      }
    }

    .section__content {
      margin: 20px 0 0;
      font-size: 16px;
      line-height: 1.5;

      .btn {
        margin: 20px auto 0;
        width: 100%;
        max-width: 400px;
        justify-content: center;
      }
    }

    .section__links {
      margin-top: 15px;
      min-width: unset;
    }

    .section__techno {
      width: 100%;

      .illustration {
        margin: 10px auto 10px auto;
        font-size: 50px;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }

    .section--reverse,
    .section--mobile-reverse {
      flex-direction: column;

      .section__content {
        margin: 20px 0 0;
      }
    }
  }
}

@media(max-width: $screen-xs) {
  .page-home {
    .section__content {
      .btn {
        width: 100%;
        max-width: unset;
      }
    }
  }
}
