.page-services {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  h2 {
    grid-column: 2 / 13;
  }

  .offset-content {
    grid-column: 3 / 12;
  }

  .section {
    margin: 0 0 70px;

    p {
      margin: 0 0 30px;
    }
  }

  .list-inline__item {
    img {
      width: 60px;
    }
  }

  .banner-engineering,
  .banner-support,
  .banner-tech-support {
    grid-column: 1 / 13;
  }

  .banner-engineering {
    margin: 40px 0 180px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    img {
      margin: 0;
    }

    blockquote {
      margin: 0;
      width: 840px;
      position: absolute;
      bottom: -120px;
      left: 0;
      font-family: 'antikor regular';
      font-size: 28px;
      line-height: 1.7;
    }
  }

  .banner-support {
    margin: 40px 0 130px;
    position: relative;

    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      height: 110px;
      width: 280px;
      bottom: 35px;
      left: -35px;
      content: '';
      background-color: $color-brand;
    }

    &:after {
      position: absolute;
      bottom: -50px;
      left: 35px;
      font-family: 'icomoon';
      font-size: 130px;
      color: $color-secondary;
      line-height: 1;
      content: '\e90c';
    }

    img {
      margin: 0;
    }
  }

  .banner-tech-support {
    margin: 40px 0 60px;
    position: relative;
    display: inline-flex;

    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      height: 110px;
      width: 280px;
      bottom: 100px;
      right: -35px;
      content: '';
      background-color: $color-brand;
    }

    &:after {
      position: absolute;
      bottom: 30px;
      right: 35px;
      font-family: 'icomoon';
      font-size: 140px;
      color: $color-secondary;
      line-height: 1;
      content: '\e914';
    }

    img {
      margin: 0;
    }
  }

  .architecture {
    margin: 100px 0 80px;
    display: flex;
    grid-column: 1 / 11;

    img {
      margin: 0;
      margin-right: 40px;
    }

    h3 {
      margin-top: 60px;
    }
  }

  .tests {
    margin: 0 0 80px;
    display: flex;
    align-items: flex-start;
    grid-column: 2 / 13;

    img {
      margin: 0;
      margin-left: 40px;
    }

    h3 {
      margin-top: 0;
    }

    .offset {
      margin-left: 110px;
      margin-bottom: 110px;
    }
  }

  .audit {
    margin: 0 0 40px;
    display: flex;
    grid-column: 1 / 12;

    img {
      margin: 0;
      margin-right: 40px;
    }

    h3 {
      margin-top: 0;
    }
  }

  .review {
    margin: 0 0 100px;
    grid-column: 2 / 8;
  }
}

@media (max-width: $screen-md) {
  .page-services {
    h2 {
      grid-column: 1 / 13;
    }

    .offset-content {
      grid-column: 1 / 13;
    }

    .architecture,
    .tests,
    .audit,
    .review {
      grid-column: 1 / 13;

      h3 {
        margin-top: 40px;
      }

      img {
        margin: 0;
        width: 100%;
      }
    }

    .architecture,
    .audit {
      margin: 40px 0 0;
      flex-direction: column;
    }

    .tests {
      margin: 40px 0 0;
      flex-direction: column-reverse;

      .offset {
        margin: 0;
      }
    }

    .review {
      margin: 10px 0 0;
    }

    .offset-content {
      .section {
        margin: 0 0 40px;
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .page-services {
    .banner-engineering {
      margin: 0 0 150px;

      blockquote {
        padding: 40px 30px 30px;
        width: calc(100% - 30px);
        top: calc(100% - 20px);
        bottom: unset;
        right: 0;
        left: unset;
        font-size: 16px;
      }
    }

    .banner-support {
      margin: 0 0 60px;

      &:before {
        height: 35px;
        width: 95px;
        top: calc(100% - 20px);
        right: 20px;
        bottom: unset;
        left: unset;
      }

      &:after {
        font-size: 40px;
        top: 100%;
        right: 45px;
        left: unset;
      }
    }
  }

  .banner-tech-support {
    &:before,
    &:after {
      display: none;
    }
  }
}

@media (max-width: $screen-sm) {
  .page-services {
    .btn {
      width: 100%;
      justify-content: center;
    }
  }
}
