.page-project {
  .banner-case-study {
    padding-bottom: 320px;
  }
}

.page-project__detail {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    &:before,
    &:after { display: none; }

    margin: 0 20px 40px;
    padding: 35px 40px;
    width: 290px;
    min-width: 290px;
    font-family: 'antikor bold';
    font-size: 26px;
    color: $color-light;
    background: $color-dark;

    small {
      margin: 0 0 20px;
      display: block;
      font-family: 'faktum regular';
      font-size: 16px;
      color: #fff;
    }
  }

  .item--medium {
    min-width: 400px;
  }

  .item--large {
    min-width: 620px;
  }
}

.page-project__content {
  margin-left: auto;
  max-width: calc(100% - 200px);

  h2:first-of-type {
    padding-top: 0;
    margin-top: 0;
  }

  p {
    margin: 0 0 30px;
  }

  figure {
    margin-left: -200px;
    width: calc(100% + 200px);
  }
}

.page-projet__footer {
  margin: 50px 0 100px;
  padding: 0 110px 20px;
  height: 250px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'antikor regular';
  color: $color-light;
  font-size: 18px;
  background: $color-dark;
  border: none;
  transition: background ease-in .2s;

  &:hover,
  &:active,
  &:focus {
    color: $color-light;
    background: darken($color-dark, 2%);
  }

  .title {
    color: #fff;
    font-family: 'faktum bold';
    font-size: 46px;
  }

  .icon {
    position: absolute;
    bottom: -35px;
    font-size: 125px;
  }

  .icon--bracket-left {
    right: 500px;
    color: $color-info;
  }

  .icon--chevrons-right {
    right: 40px;
    color: $color-light;
  }
}

@media (max-width: $screen-lg) {
  .page-project {
    .banner-case-study {
      padding-bottom: 40px;
    }
  }

  .page-project__detail {
    align-items: flex-start;

    ul {
      width: 100%;
    }

    .item {
      margin: 0 5px 10px;
      width: calc(33.33% - 10px);
      min-width: unset;
    }

    .item--medium,
    .item--large {
      width: calc(50% - 10px);
    }
  }
}

@media (max-width: $screen-md) {
  .page-project__content {
    margin: 0;
    max-width: unset;

    figure {
      margin-left: 0;
      width: 100%;
    }
  }
}

@media (max-width: $screen-sm) {
  .page-projet__footer {
    padding: 0 30px 20px;
    height: 200px;

    .title {
      font-size: 32px;
    }

    .icon {
      bottom: -20px;
      font-size: 64px;
    }

    .icon--chevrons-right {
      right: 10px;
    }

    .icon--bracket-left {
      right: 200px;
    }
  }
}

@media (max-width: $screen-xs) {
  .page-project__detail {
    ul {
      flex-direction: column;
    }

    .item {
      margin: 0 0 10px;
      width: 100%;
    }
  }
}
