.page-methodology {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;

  .h2--dash,
  .h2--ordered {
    grid-column: 2 / 13;
  }

  .offset-content {
    grid-column: 3 / 12;
  }

  .banner-planning {
    margin: 60px 0 0;
    position: relative;
    grid-column: 1 / 13;

    img {
      margin: 0;
      position: relative;
      z-index: 1;
    }

    &:after {
      height: 190px;
      width: 500px;
      position: absolute;
      bottom: 70px;
      right: 0;
      content: '';
      background: $color-secondary;
    }
  }

  .banner-steps {
    margin: 80px 0 480px;
    position: relative;
    grid-column: 1 / 13;

    img {
      margin: 0;
      position: absolute;
      bottom: -400px;
      left: 0;
      z-index: -1;
    }
  }

  .run {
    margin: 40px 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    grid-column: 2 / 12;
  }

  .run__item {
    margin: 0 20px;
    padding: 40px 30px 40px;
    width: calc(33.33% - 40px);
    min-height: 485px;
    color: #fff;
    background: $color-dark;

    &:before,
    &:after {
      display: none;
    }

    &:nth-of-type(1) {
      margin-left: 0;
    }

    &:nth-of-type(2) {
      margin-top: 50px;
    }

    &:nth-of-type(3) {
      margin-top: 120px;
      margin-right: 0;
    }

    h4 {
      margin: 0 0 30px;
      font-family: 'antikor bold';
      font-size: 18px;
      color: $color-light;
      line-height: 1.7;
    }
  }

  .prioritization {
    grid-column: 2 / 9;

    p {
      margin: 0 0 50px;
    }
  }

  .estimate {
    margin: 30px 0;
    display: flex;
    align-items: center;
    grid-column: 1 / 12;

    img {
      margin: 0;
      margin-right: 40px;
    }

    p {
      margin-bottom: 30px;
    }
  }

  .tools {
    margin: 60px 0;
    display: flex;
    align-items: center;
    grid-column: 2 / 13;
  }

  .tools__image {
    margin-left: 40px;
    min-width: 620px;
    position: relative;

    &:before {
      height: 60px;
      width: 290px;
      position: absolute;
      top: -40px;
      right: 40px;
      content: '';
      background: $color-secondary;
      z-index: -1;
    }

    img {
      margin: 0;
    }
  }

  .list-inline {
    grid-column: 3 / 12;
  }

  .our-commitments {
    margin-top: 100px;
    grid-column: 1 / 7;
  }

  .your-commitments {
    margin-top: 180px;
    grid-column: 7 / 13;
  }
}

@media (max-width: $screen-md) {
  .page-methodology {
    column-gap : unset;

    .h2--dash,
    .h2--ordered {
      grid-column: 1 / 13;
    }

    .offset-content {
      grid-column: 1 / 13;
    }

    .banner-planning {
      margin: 40px 0;

      img {
        width: 100%;
      }

      &:after {
        display: none;
      }
    }

    .run {
      flex-direction: column;
      grid-column: 1 / 13;
    }

    .run__item {
      margin: 0 0 10px !important;
      width: 100%;
      min-height: unset;
    }

    .prioritization {
      grid-column: 1 / 13;
    }

    .estimate {
      margin-bottom: 0;
      flex-direction: column;
      grid-column: 1 / 13;

      img {
        margin: 0 0 40px;
        width: 100%;
      }
    }

    .tools {
      flex-direction: column;
      align-items: flex-start;
      grid-column: 1 / 13;
    }

    .tools__image {
      display: none;
    }

    .list-inline {
      grid-column: 1 / 13;
    }


    .list-inline__item {
      img {
        margin: 0 0 20px;
      }
    }

    .our-commitments {
      margin-top: 40px;
      grid-column: 1 / 13;
    }

    .your-commitments {
      margin-top: 10px;
      grid-column: 1 / 13;
    }
  }
}

@media (max-width: $screen-sm) {
  .page-methodology {
    .banner-steps {
      margin: 40px 0;

      img {
        position: static;
        width: 100%;
      }
    }
  }
}
