.page-technology {
  padding: 0 110px;

  .article-list {
    .miniature-inline {
      max-width: 930px;

      &:first-of-type {
        margin-left: 110px;
      }
    }
  }
}

@media (max-width: $screen-md) {
  .page-technology {
    padding: 0;

    .article-list {
      .miniature:first-of-type {
        margin-left: 0;
      }

      .miniature-inline {
        margin-left: 0;
      }
    }
  }
}
