.page-services {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .large-content {
    margin-top: 40px;
    grid-column: 2/12;
  }

  h2 {
    grid-column: 2 / 13;
  }

  .offset-content {
    grid-column: 3 / 12;
  }

  .two-columns {
    margin: 20px;
    width: calc(50% - 40px);
    &--card {
      background-color: $color-secondary;
      padding: 40px;
    }

    &:before, &:after {
      display: none;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .type-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .text-image {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;

    div {
      width: 60%;
    }
  }

  .section {
    margin: 0 0 70px;

    p {
      margin: 0 0 30px;
    }
  }

  .list-inline__item {
    img {
      width: 60px;
    }
  }

  .banner-engineering,
  .banner-support,
  .banner-tech-support {
    grid-column: 1 / 13;
  }

  .banner-engineering {
    margin: 40px 0 180px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    img {
      margin: 0;
    }

    blockquote {
      margin: 0;
      width: 840px;
      position: absolute;
      bottom: -120px;
      left: 0;
      font-family: 'antikor regular';
      font-size: 28px;
      line-height: 1.7;
    }
  }

  .banner-support {
    margin: 40px 0 130px;
    position: relative;

    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      height: 110px;
      width: 280px;
      bottom: 35px;
      left: -35px;
      content: '';
      background-color: $color-brand;
    }

    &:after {
      position: absolute;
      bottom: -50px;
      left: 35px;
      font-family: 'icomoon';
      font-size: 130px;
      color: $color-secondary;
      line-height: 1;
      content: '\e90c';
    }

    img {
      margin: 0;
    }
  }

  .banner-tech-support {
    margin: 40px 0 60px;
    position: relative;
    display: inline-flex;

    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      height: 110px;
      width: 280px;
      bottom: 100px;
      right: -35px;
      content: '';
      background-color: $color-brand;
    }

    &:after {
      position: absolute;
      bottom: 30px;
      right: 35px;
      font-family: 'icomoon';
      font-size: 140px;
      color: $color-secondary;
      line-height: 1;
      content: '\e914';
    }

    img {
      margin: 0;
    }
  }

  .architecture {
    margin: 100px 0 80px;
    display: flex;
    grid-column: 1 / 11;

    img {
      margin: 0;
      margin-right: 40px;
    }

    h3 {
      margin-top: 60px;
    }
  }

  .tests {
    margin: 0 0 80px;
    display: flex;
    align-items: flex-start;
    grid-column: 2 / 13;

    img {
      margin: 0;
      margin-left: 40px;
    }

    h3 {
      margin-top: 0;
    }

    .offset {
      margin-left: 110px;
      margin-bottom: 110px;
    }
  }

  .audit {
    margin: 0 0 40px;
    display: flex;
    grid-column: 1 / 12;

    img {
      margin: 0;
      margin-right: 40px;
    }

    h3 {
      margin-top: 0;
    }
  }

  .review {
    margin: 0 0 100px;
    grid-column: 2 / 8;
  }

  .bricks {
    grid-column: 1 / 13;
  }

  .steps {
    margin: 40px 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    grid-column: 2 / 12;

    &:before,
    &:after {
      width: 290px;
      position: absolute;
      content: '';
    }

    &:before {
      height: 480px;
      top: 95px;
      left: -310px;
      background: $color-secondary;
    }

    &:after {
      height: 660px;
      top: 0;
      right: -310px;
      background: linear-gradient(to bottom, $color-secondary 380px, #fff 380px, #fff 420px, $color-secondary 421px);
    }

    &__item {
      position: relative;
      margin: 0 10px;
      padding: 40px 30px 40px;
      width: calc(33.33% - 10px);
      min-height: 485px;
      color: #fff;
      background: $color-dark;

      &:before,
      &:after {
        display: none;
      }

      &:nth-of-type(1) {
        margin-left: 0;
      }

      &:nth-of-type(2) {
        margin-top: 50px;
      }

      &:nth-of-type(3) {
        margin-top: 120px;
        margin-right: 0;
      }

      h3 {
        margin: 0 0 30px;
        font-family: 'antikor bold';
        font-size: 18px;
        color: $color-secondary;
        line-height: 1.7;
      }

      li {
        font-size: 17px;
      }

      span {
        position: absolute;
        left: 10px;
        top: -50px;
        font-size: 65px;
        color: $color-brand;
        font-family: 'antikor bold';
      }
    }
  }

  .supports {
    margin-top: 20px;
    &__item {
      display: flex;
      gap: 30px;
      align-items: center;
      background-color: $color-secondary;
      padding: 20px 40px;
      margin-bottom: 10px;
      color: $color-text;
      &:before, &:after {
        display: none;
      }

      .icon {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: $screen-md) {
  .page-services {
    h2 {
      grid-column: 1 / 13;
    }

    .large-content {
      grid-column: 1 / 13;
    }

    .offset-content {
      grid-column: 1 / 13;
    }

    .two-columns {
      width: 100%;
      margin: 0;

      &--card {
        margin-bottom: 20px;
      }
    }

    .type-projects {
      flex-direction: column;
      gap: 0;

      .btn {
        width: fit-content;
      }
    }

    .architecture,
    .tests,
    .audit,
    .review {
      grid-column: 1 / 13;

      h3 {
        margin-top: 40px;
      }

      img {
        margin: 0;
        width: 100%;
      }
    }

    .architecture,
    .audit,
    .tests {
      img {
        margin: 0 auto;
        max-width: 350px;
      }
    }

    .architecture,
    .audit {
      margin: 40px 0 0;
      flex-direction: column;
    }

    .tests {
      margin: 40px 0 0;
      flex-direction: column-reverse;

      .offset {
        margin: 0;
      }
    }

    .review {
      margin: 10px 0 0;
    }

    .offset-content {
      .section {
        margin: 0 0 40px;
      }
    }

    .banner-engineering {
      margin: 0 0 150px;

      blockquote {
        padding: 40px 30px 30px;
        width: calc(100% - 30px);
        top: calc(100% - 20px);
        bottom: unset;
        right: 0;
        left: unset;
        font-size: 16px;
      }
    }

    .banner-support,
    .banner-tech-support {
      &:before,
      &:after {
        display: none;
      }
    }

    .steps {
      flex-direction: column;
      grid-column: 1 / 13;

      &:before,
      &:after {
        display: none;
      }

      &__item {
        margin: 0 0 40px !important;
        width: 100%;
        min-height: unset;
      }
    }

    .supports {
      &__item {
        &:before, &:after {
          display: none;
        }
      }
    }

    .text-image {
      .h2--dash {
        margin-top: 0;
      }
      div {
        width: 100%;
      }
      picture {
        display: none;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .page-services {
    .btn {
      width: 100%;
      justify-content: center;
    }
  }
}

@media (max-width: $screen-xs) {
  .page-services {
    .banner-support {
      margin: 0 0 60px;
    }
    .supports {
      padding-left: 0;
      &__item {
        padding: 20px;
      }
    }
  }
}
