@use "sass:color";

.page-signature {
  padding: 0 110px;
  display: flex;
  align-items: center;
}

.page-signature__preview {
  min-width: 350px;
  flex: 1;

  * {
    all: revert
  }
}

.page-signature__tutorial {
  textarea {
    padding: 10px;
    width: 100%;
    height: 200px;
    font-family: monospace;
    font-size: 12px;
    color: #fff;
    background-color: $color-tertiary;
    border: none;
    border-radius: 10px;

    &:focus {
      outline: none;
    }

    &::selection {
      color: #fff;
      background: color.adjust(#fff, $alpha: -.8);
    }
  }
}
