.page-jobs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .banner {
    margin-bottom: 50px;
    grid-column: 1 / 13;
  }

  h2,
  h3 {
    grid-column: 2 / 13;
  }

  p {
    margin: 0 0 30px;
  }

  .offset-content,
  .article-list {
    grid-column: 2 / 12;
  }

  .call-to-action {
    margin: 60px 0 30px;
    grid-column: 1 / 13;
  }

  .values {
    grid-column: 2 / 12;
  }

  .bricks {
    grid-column: 2 / 13;
  }

  .check-block {
    margin-top: 60px;
    grid-column: 2 / 13;
  }

  .no-result {
    margin: 0 0 40px;
  }

  .offers {
    scroll-margin-top: 30px;
  }
}

@media (max-width: $screen-md) {
  .page-jobs {
    h2,
    h3,
    .offset-content,
    .article-list,
    .values,
    .bricks,
    .check-block {
      grid-column: 1 / 13;
    }
  }
}
