name: elao

services:

    ##########
    # System #
    ##########

    system:
        hostname: elao
        build:
            context: .
            target: system
        image: elao:20220914080242
        restart: always
        ports:
            - 8000:80
            - 8080:8080
        volumes:
            - ../..:${DIR}
        environment:
            DIR: ${DIR}
            CACHE_DIR: ${CACHE_DIR}
        working_dir: ${DIR}
        entrypoint: .manala/docker/entrypoint.sh
