name: elao

services:

    ##########
    # System #
    ##########

    system:
        hostname: elao
        build:
            context: ..
            dockerfile: docker/Dockerfile
        image: elao:20241118105153
        restart: always
        ports:
            - 35080:80
            - 8080:8080
        volumes:
            - ../..:${MANALA_DIR}
        environment:
            MANALA_DIR: ${MANALA_DIR}
            MANALA_CACHE_DIR: ${MANALA_CACHE_DIR}
        working_dir: ${MANALA_DIR}
