{% extends 'base.html.twig' %}

{% block content %}
    <h1>Etudes de cas</h1>

    <ul>
        {% for caseStudy in caseStudies %}
            <li>
                <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}">
                    {{ caseStudy.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
