{% extends 'base.html.twig' %}

{% block meta_title caseStudy.title ~ ' | ' ~ parent() %}
{% block meta_description caseStudy.description|default(parent()) %}

{% block content %}
  <h1>{{ caseStudy.title }}</h1>

  {{ caseStudy.content|raw }}
{% endblock content %}
